<div id="wsShowCarousel" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner">
    <% if @workshop.photos.attached? %>
      <% @workshop.photos.each_with_index do |photo, index| %>
        <% if index == 0 %>
          <div class="ws-show-carousel-item carousel-item active">
        <% else %>
          <div class="ws-show-carousel-item carousel-item">
        <% end %>
            <%= cl_image_tag photo.key, alt: "Photo-atelier" %>
          </div>
      <% end %>
    <% else %>
      <div class="ws-show-carousel-item carousel-item active">
        <%= image_tag "workshop-picture.jpg", alt: "Photo-atelier" %>
      </div>
      <div class="ws-show-carousel-item carousel-item">
        <%= image_tag "workshop-picture.jpg", alt: "Photo-atelier" %>
      </div>
      <div class="ws-show-carousel-item carousel-item">
        <%= image_tag "workshop-picture.jpg", alt: "Photo-atelier" %>
      </div>
    <% end %>
  </div>

  <a class="carousel-control-prev" href="#wsShowCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Précédent</span>
  </a>
  <a class="carousel-control-next" href="#wsShowCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Suivant</span>
  </a>
</div>
