<h2>confirmation <%= @workshop.title %></h2>
<h3><strong>Votre atelier est prêt ! &#128521;</strong></h3>
<p>Vous pouvez jeter un oeil à votre atelier à cliquant ici : <%= link_to "Prévisualiser la page", workshop_path(@workshop), class: "confirm-btn d-flex", id: "previsualize-ws", target: "_blank" %></strong><br>
Puis dès que vous êtes prêt, vous pouvez envoyez votre nouvel atelier en vérification pour la mise en ligne.</p>
<br><br>

<%= link_to "Demander la mise en ligne", controller: "workshops", action: "send_verification_mail", id: @workshop.id %>
