// Define variables for your color scheme

// For example:
$red: #D9817A;
$dark-red: #AE4B52;
$dark-blue: #235B6A;
$blue: #52828D;
$light-blue: #A5CAD0;
$yellow: #FFC65A;
$orange: #FCB1A1;
$light-green: #B0C3BD;
$green: #85B4AA;
$dark-gray: #1C1C1C;
$gray: #DADADA;
$light-gray: #F4F4F4;
