// Define variables for your color scheme

// For example:
$red: #D9817A;
$dark-red: #AE4B52;
$dark-blue: #235B6A;
$blue: #52828D;
$light-blue: #A5CAD0;
$yellow: #FFBF47;
$dark-yellow: #DEA947;
$orange: #FCB1A1;
$light-green: #C8E0D1;
$green: #85B4AA;
$flashy-green: #24DCB0;
$flashy-red: #FF385D;
$dark-green: #427766;
$dark-gray: #1C1C1C;
$medium-gray: #B2B2B2;
$gray: #DADADA;
$gray2: #E5E5E5;
$light-gray: #F4F4F4;
$light-gray2: #F2F2F2;
$light-gray3: #F2F3F5;
$gray-placeholder: #6D757D;
