<!-- SIGN UP -->

<% content_for :meta_title, "Jeu de Mains | Inscription" %>


<div class="sign-container">

  <%= render template: "devise/registrations/_new_form" %>

  <div class="sign-picture">
    <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1612889842/jeu-de-mains-do-it-yourself.svg", :width => 1000, :crop => :fill, :loading => "lazy", :alt => "jeu-de-mains-illustration", :title => "jeu-de-mains-illustration") %>
  </div>

</div>
