<h1>Ceci est l'export des nouveaux abonnés newsletter de la semaine</h4>
<p>A importer dans Mailchimp > contacts.</p>
<p>Avant d'importer, traiter le fichier pour ne conserver que les contacts ayant indiqué "true" pour l'inscription newsletter puis supprimer cette colonne une fois le tri fait afin de n'importer que la colonne contacts.</p>
