// CSS ORGANIZER DASHBOARD


// CONTAINERS

.dashboard-organizer-container {
  margin: 2em;
}

// TABS

#dashboard-organizer-nav-and-tab {
  grid-template-columns: 1fr 5fr;
  .tab-pane {
    display: none;
  }
  .tab-pane.active {
    display: grid;
  }
}

// PILLS

#v-pills-my-workshops {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
}

// MY WORKSHOPS

.ws-dashboard-organizer-card-container {
  border-left: 4px solid $flashy-green;
  padding: 1px 5px 1px 15px;
}

.ws-dashboard-organizer-card {
  display: flex;
}

.ws-dashboard-organizer-image {
  img {
    object-fit: cover;
  }
}

.ws-dashboard-organizer-text-and-buttons {
  padding-left: 15px;
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 500;
    border-radius: 25px;
    padding: 1px 10px;
    background-color: unset;
    border: 1px solid $blue;
    color: $blue;
    margin-bottom: 5px;
  }
  .button:hover {
    text-decoration: none;
    color: white;
    background-color: $blue;
  }
  #add-date-button {
    color: white;
    background-color: $blue;
  }
  #add-date-button:hover {
    color: $blue;
    background-color : unset;
  }
  #turn-offline-button {
    color: $dark-gray;
    background-color: unset;
    border: 1px solid $dark-gray;
    opacity: 0.4;
  }
  #turn-offline-button:hover {
    color: white;
    background-color : $dark-gray;
    opacity: 0.7;
  }
  .show-actions-button {
    display: none;
  }
}

.ws-dashboard-organizer-text {
  a {
    h2 {
      color: $dark-gray;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 3px;
    }
  }
  a:hover {
    text-decoration: none;
    h2 {
      color: $dark-blue;
    }
  }
  h3 {
    color: $dark-gray;
    opacity: 0.7;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 1px;
  }
  span {
    font-weight: 600;
    font-size: 14px;
    color: $flashy-green;
  }
}

.ws-dashboard-organizer-buttons {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
}


// MY AGENDA

.mobile-dashboard-my-agenda-date-title {
  padding: 2.5px 4px;
  background-color: $light-blue;
  h2 {
    font-size: 13px;
    color: white;
    font-weight: 600;
    margin-bottom: unset;
    text-transform: uppercase;
    letter-spacing: 0.2px;
  }
}
.mobile-dashboard-my-agenda-date-container {
  margin-bottom: 2em;
}

.mobile-dashboard-my-agenda-workshop {
  margin: 1em 1em 2em 0;
  padding-left: 1em;
  border-left: 1px solid $light-blue;
  h3 {
    font-size: 14.5px;
  }
  a {
    color: $dark-gray;
  }
  a:hover {
    color: $blue;
    text-decoration: none;
  }
}

.mobile-dashboard-my-agenda-workshop-infos {
  padding-left: 1em;
  h4 {
    font-size: 12.5px;
    font-weight: 500;
    margin-bottom: 3px;
    opacity: 0.8;
  }
}

.mobile-my-agenda-ws-sessions {
  color: $dark-yellow;
  font-weight: 600;
}

.mobile-dashboard-my-agenda-workshop-participants {
  margin-top: 1em;
  .button {
    background-color: unset;
    color: $blue;
    border-radius: 20px;
    border: 1px solid $blue;
    font-size: 12.5px;
    padding: 3px 14px;
  }
  .button:hover {
    text-decoration: none;
    background-color: $blue;
    color: white;
  }
}

// MY PLACES

.dashboard-my-places-place {
  display: flex;
  height: 90px;
  margin-bottom: 2em;
}

.dashboard-my-places-place-image {
  img {
    width: 85px;
    height: 100%;
  }
}

.dashboard-my-places-place-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1em;
  h2 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 4px;
  }
  h3 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 2px;
  }
}

.dashboard-my-places-place-buttons {
  .button {
    font-size: 13px;
    border-radius: 25px;
    padding: 3px 12px;
    border: 1px solid $blue;
  }
  .button:hover {
    text-decoration: none;
    background-color: unset;
    color: $blue;
  }
  #public-profile-button {
    background-color: $light-blue;
    border-color: $light-blue;
  }
  #public-profile-button:hover {
    text-decoration: none;
    background-color: unset;
    color: $blue;
    border-color: $blue;
  }
}

// MY KPIS

.dashboard-my-kpis {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.3em;
}

.dashboard-my-kpis-item {
  padding: 2em;
  background-color: $light-blue;
  height: 15em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    color: white;
    font-size: 32px;
    margin-bottom: 4px;
    text-align: center;
    letter-spacing: 1px;
  }
  h3 {
    color: white;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
  }
}

#dashboard-my-kpis-bookings {
  background-color: $blue;
}

.my-bookings-seven-days.active {
  display: block;
}
.my-bookings-seven-days {
  display: none;
}
.my-bookings-thirty-days.active {
  display: block;
}
.my-bookings-thirty-days {
  display: none;
}

#dashboard-my-kpis-cancellations {
  background-color: $green;
  .slider:before {
    color: $green;
  }
}

.my-cancellations-seven-days.active {
  display: block;
}
.my-cancellations-seven-days {
  display: none;
}
.my-cancellations-thirty-days.active {
  display: block;
}
.my-cancellations-thirty-days {
  display: none;
}
#dashboard-my-kpis-workshops {
  background-color: $light-blue;
}
#dashboard-my-kpis-sessions {
  background-color: $blue;
}
#dashboard-my-kpis-rating {
  background-color: $green;
}
.my-kpis-button {
  border: 1px solid white;
  padding: 5px 13px;
  text-decoration: none;
  color: white;
  border-radius: 30px;
  font-family: "Montserrat", "sans-serif";
  font-size: 13px;
  font-weight: 600;
}
.my-kpis-button:hover {
  text-decoration: none;
  color: $light-blue;
  background-color: white;
}


// RESPONSIVE ORGANIZER DASHBOARD //

// Smallest device
@media (min-width: 100px) and (max-width: 745px) {

  // container

  .dashboard-organizer-container {
    margin: 1em;
  }

  // nav and tabs

  #dashboard-organizer-nav-and-tab {
    grid-template-columns: 1fr;
    .dashboard-nav-mobile {
      margin: -1em;
      padding: 1em 1em 0.5em 1em;
      border-bottom: 1.3px solid $gray2;
    }
    .nav-pills-organizer {
      display: flex;
      justify-content: center;
    }
    .nav-link {
      border-radius: 2px;
      font-size: 13px;
      font-weight: 600;
      width: 60%;
      color: $light-blue;
      padding: 4px 12px;
      text-transform: uppercase;
      span {
        padding-bottom: 3px;
        margin-bottom: 2px;
        letter-spacing: 0.2px;
        font-family: "Montserrat", "sans-serif";
      }
    }
    .nav-link.active {
      background-color: unset;
      font-weight: 700;
      color: $dark-blue;
      span {
      }
    }
  }

  #dashboard-organizer-tabs {
    margin: 1em 0;
  }

  // my workshops

  .ws-dashboard-organizer-card-container {
    padding: 1px 4px 1px 10px;
  }

  .ws-dashboard-organizer-image {
    img {
      width: 70px;
      height: 88px;
    }
  }

  .ws-dashboard-organizer-text-and-buttons {
    padding-left: 12px;
  }

  .ws-dashboard-organizer-text {
    a {
      h2 {
        font-size: 14px;
        margin-bottom: 3px;
      }
    }
    h3 {
      font-size: 13px;
      font-weight: 500;
      margin-bottom: 1px;
    }
    span {
      font-weight: 600;
      font-size: 13px;
    }
  }

  .ws-dashboard-organizer-buttons {
    display: none;
  }

  .ws-dashboard-organizer-buttons.active {
    display: flex;
  }

  .ws-dashboard-organizer-text-and-buttons {
    .show-actions-button.active {
      display: block;
      margin-top: 5px;
      .button {
        color: white;
        background-color: $flashy-green;
        border-color: $flashy-green;
        margin-bottom: unset;
        width: 61px;
      }
    }
    .show-actions-button.active:hover {
      .button {
        color: $flashy-green;
        background-color : unset;
      }
    }
    .show-actions-button {
      display: none;
    }
  }

  // my places

  .dashboard-my-places-place-infos {
    h2 {
      font-size: 14px;
    }
    h3 {
      font-size: 13px;
    }
  }

  // my kpis
  .dashboard-my-kpis {
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.7em;
  }
  .dashboard-my-kpis-item {
    padding: 0.5em;
    height: 10em;
    h2 {
      font-size: 30px;
    }
    h3 {
      font-size: 14px;
    }
  }
}

// Small & Medium devices (tablets, 746px and up)
@media (min-width: 746px) and (max-width: 991px)  {

  // container

  .dashboard-organizer-container {
    margin: 2em 1.5em;
  }

  // nav and tabs

  #dashboard-organizer-nav-and-tab {
    grid-template-columns: 1.1fr 3fr;
  }

  // my kpis
  .dashboard-my-kpis {
    grid-template-columns: 1fr 1fr;
  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px)  {
  // my kpis
  .dashboard-my-kpis {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #dashboard-organizer-nav-and-tab {
    grid-template-columns: 1fr 4fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  // my kpis
  .dashboard-my-kpis {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
