.dashboard-reviews-modal {
  .modal-dialog {
    max-width: 750px;
  }
  h3 {
    color: $blue;
    margin-bottom: unset;
    font-size: 18px;
    font-weight: 600;
    padding: 1em;
  }
  .dashboard-modal-one-review {
    display: grid;
    grid-template-columns: 2fr 1fr 4fr 2fr 0.5fr;
    grid-gap: 7px;
    div {
      display: flex;
      align-items: center;
    }
  }
  #dashboard-reviews-modal-description {
    padding: 0 1.2em;
    font-size: 14px;
  }
  .accordion {
    font-size: 14px;
    padding: 12px;
  }
  .card-header {
    background-color: $light-blue;
    color: white;
    font-weight: 600;
    border: 1px solid white;
  }
  .card {
    border: none;
  }
  .button {
    background-color: unset;
    border: white 1px solid;
    font-weight: 600;
    border-radius: 30px;
    padding: 1px 10px;
    font-size: 12px;
    color: white;
  }
  .button:hover {
    background-color: white;
    color: $light-blue;
  }
  .fa-exclamation-circle {
    color: white;
    font-size: 16px;
  }
  .fa-star {
    font-size: 10px;
    margin-left: 2px;
  }
}

// RESPONSIVE DASHBOARD MODAL //

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .dashboard-reviews-modal {
    .modal-dialog {
      width: 100%;
      margin: unset;
      border: unset;
    }
    .modal-content {
      border: unset;
      height: 100vh;
      padding-top: 1em;
    }
    .card-header {
      padding-right: 0.6em;
      padding-left: 0.6em;
    }
    .dashboard-modal-one-review {
      grid-template-columns: 2fr 0.5fr 2fr 2fr 0.5fr;
    }
    .accordion {
      padding: 8px;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px)  {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px)  {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

