.dashboard-reviews-modal {
  h3 {
    color: $blue;
    margin-bottom: unset;
    font-size: 18px;
    font-weight: 600;
    padding: 1em;
  }
  .dashboard-modal-one-review {
    display: grid;
    grid-template-columns: 0.5fr 2fr 2fr 2fr 1fr;
    grid-gap: 7px;
  }
  #dashboard-reviews-modal-description {
    padding-left: 1.2em;
    font-size: 14px;
  }
  .accordion {
    font-size: 14px;
  }
  .button {
    background-color: $blue;
    border: $blue 1px solid;
    border-radius: 30px;
    padding: 1px 10px;
    font-size: 12px;
    color: white;
  }
  .fa-exclamation-circle {
    color: $blue;
  }
}

// RESPONSIVE DASHBOARD MODAL //

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .dashboard-reviews-modal {
    .modal-dialog {
      width: 100%;
      margin: unset;
      border: unset;
    }
    .modal-content {
      border: unset;
      height: 100vh;
    }
    .card-header {
      padding-right: 0.4em;
      padding-left: 0.6em;
    }
    .dashboard-modal-one-review {
      grid-template-columns: 0.5fr 2fr 1fr 2fr 2fr;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px)  {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px)  {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

