// CSS - HOMEPAGE

// CONTAINER

.home-container {
  margin: 1.5em 1.5em 4em 1.5em;
}

// EXPLANATIONS ABOUT THE PLATFORM FOR BTOC

.home-steps-title {
  color: $blue;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-top: 5em;
}
.home-steps-presentation-desktop {
  margin: 2em 7em 3em 7em;
  margin-top: 2em;
  margin-bottom: 3em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4em;
}

.home-steps-presentation-tablet {
  margin: 1em;
  .home-step-presentation {
    padding-bottom: 3em;
  }
}

.home-steps-presentation-mobile {
  margin: 1em;
  .home-step-presentation {
    padding-bottom: 1.5em;
  }
}

.home-step-presentation {
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  img {
    height: 9em;
    margin-bottom: 1.5em;
  }
  h3 {
    font-weight: 600;
    font-size: 17px;
    color: $dark-blue;
  }
  p {
    font-size: 16px;
  }
}

// CARDS LINKING TO SELECTIONS OF WORKSHOPS

.home-selection-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5em;
}

.home-selection-card {
  height: 20em;
  color: white;
  overflow: hidden;
  display: flex;
  img {
    height: 100%;
    object-fit: cover;
  }
}

.home-selection-text {
  margin: 1.5em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h2 {
    font-weight: 600;
    font-size: 24px;
    color: white;
  }
  h3 {
    font-size: 15px;
    line-height: 1.3;
    font-family: "Raleway", "sans-serif";
    font-weight: 400;
    padding-bottom: 0.5em;
    color: white;
  }
  .home-selection-btn {
    background: unset;
    padding: 0 0 0.3rem 0;
    border: unset;
    border-bottom: 0.17em solid white;
    border-radius: unset;
    color: white;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    outline: none;
    line-height: 1.5;
    white-space: unset;
  }
  .home-selection-btn:hover {
    padding-right: 2em;
    transition: all 0.5s ease-out;
  }
}

#home-selection-first {
  background-color: $light-blue;
  img {
    object-position: top;
  }
}

#home-selection-second {
  background-color: $light-blue;
}

#home-thematic-first {
  background-color: $blue;
}

#home-thematic-second {
  background-color: $blue;
}


// FAVORITE WS AND LAST MINUTE WS CARDS

.home-ws-cards-container {
  .home-ws-cards-title {
    color: $blue;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-top: 2.5em;
  }
  .home-ws-cards-subtitle {
    font-family: "Raleway", "sans-serif";
    font-weight: 400;
    text-align: center;
    font-size: 16px;
    margin-bottom: 2em;
  }
}

.home-ws-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
  padding: 0 0.4em 0 0.4em;
}

.home-ws-cards-best-ratings {
  margin-bottom: 3.5em;
}

#home-ws-cards-best-ratings-title {
  margin-top: 2.3rem;
}

.home-ws-cards-last-minute {
  margin-bottom: 3.5em;
}

// Home giftcard presentation

.home-offer-giftcard-container {
  background-color: $light-blue;
  height: 300px;
}

.home-offer-giftcard {
  display: flex;
  justify-content: space-between;
  img {
    width: 600px;
    height: 300px;
    object-fit: cover;
  }
  .home-offer-giftcard-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 65px;
  }
  .home-offer-giftcard-btn {
    background-color: unset;
    border: 1px solid white;
    color: white;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    padding: 6px 13px;
    text-decoration: none;
    outline: unset;
  }
  .home-offer-giftcard-btn:hover {
    background-color: $blue;
    border-color: $blue;
    color: white;
  }
  #home-offert-giftcard-button {
    background-color: white;
    color: $light-blue;
  }
  #home-offert-giftcard-button:hover {
    background-color: $blue;
    border-color: $blue;
    color: white;
  }
}



// RESPONSIVE HOMEPAGE//

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .home-container {
    margin: 0.8em 0.8em 4em 0.8em;
  }
  .home-steps-presentation-desktop {
    display: none;
  }
  .home-steps-presentation-tablet {
    display: none;
  }
  .home-step-presentation {
    p {
      font-size: 15px;
    }
  }
  .home-steps-title {
    margin-top: 2.5em;
    font-size: 22px;
    padding: 0 14px;
  }
  .home-selection-cards {
    grid-template-columns: 1fr;
  }
  .home-selection-card {
    height: auto;
    flex-direction: column;
    img {
    height: 12em;
    width: 100%;
    object-fit: cover;
    }
  }
  .home-selection-text {
    margin-top: 1em;
    height: auto;
    h2 {
      font-size: 22px;
    }
    h3 {
      font-size: 15px;
      font-weight: 500;
    }
    a {
      font-size: 16px;
    }
  }
  #home-ws-card-place-desktop {
    display: none;
  }

  .home-ws-cards {
    grid-template-columns: 1fr 1fr;
    margin-left: -0.3em;
    margin-right: -0.3em;
  }
  .home-ws-cards-container {
    .home-ws-cards-title {
      margin-top: 2.5em;
      font-size: 22px;
      padding: 0 10px;
    }
    .home-ws-cards-subtitle {
      font-size: 15px;
      margin-bottom: 1.5em;
      line-height: 1.3em;
    }
  }
  #home-ws-cards-best-ratings-title {
    margin-top: 1.7rem;
  }
  .home-offer-giftcard-container {
    height: auto;
  }

  .home-offer-giftcard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .home-offer-giftcard-btn {
      font-size: 13.5px;
    }
    img {
      width: 100%;
      height: 16em;
    }
    h3 {
      margin-bottom: 2rem;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  .home-steps-presentation-desktop {
    display: none;
  }
  .home-steps-presentation-mobile {
    display: none;
  }
  .home-steps-title {
    margin-top: 3em;
  }
  .home-selection-cards {
    grid-template-columns: 1fr;
  }
  .home-selection-card {
  height: 15em;
    img {
      width: 40%;
      height: auto;
      object-fit: cover;
    }
  }
  #home-ws-card-place-desktop {
    display: none;
  }
  .home-ws-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .home-selection-text {
    margin-top: 0.7em;
    h2 {
      font-size: 20px;
    }
    h3 {
      font-size: 14px;
    }
  }
  #home-ws-cards-best-ratings-title {
    margin-top: 2.3rem;
  }
  .home-offer-giftcard-container {
    height: 200px;
  }

  .home-offer-giftcard {
    img {
      width: 250px;
      height: 200px;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px)  {
  .home-selection-cards {
    grid-template-columns: 1fr;
  }
  .home-selection-card {
  height: 15em;
    img {
      width: 40%;
      height: auto;
      object-fit: cover;
    }
  }
  .home-steps-presentation-desktop {
    display: none;
  }
  .home-steps-presentation-mobile {
    display: none;
  }
  #home-ws-card-place-desktop {
    display: none;
  }
  .home-ws-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 332px;
    overflow: hidden;
  }
  .home-offer-giftcard {
    img {
      width: 360px;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px)  {
  .home-selection-card {
    img {
      width: 50%;
      height: auto;
      object-fit: cover;
    }
  }
  .home-steps-presentation-mobile {
    display: none;
  }
  .home-steps-presentation-tablet {
    display: none;
  }
  #home-ws-card-place-mobile {
    display: none;
  }
  .home-ws-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 332px;
    overflow: hidden;
  }
  .home-offer-giftcard {
    img {
      width: 500px;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .home-steps-presentation-mobile {
    display: none;
  }
  .home-steps-presentation-tablet {
    display: none;
  }
  #home-ws-card-place-mobile {
    display: none;
  }
}


