// CSS - HOMEPAGE

// CONTAINER

.home-container {
  margin: 1.5em;
}

// EXPLANATIONS ABOUT THE PLATFORM FOR BTOC

.home-steps-title {
  color: $blue;
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;
  margin-top: 2.5em;
}
.home-steps-presentation {
  margin: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 4em;
}

.home-step-presentation {
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  img {
    height: 9em;
    margin-bottom: 1.5em;
  }
  h3 {
    font-weight: 600;
    font-size: 1.1em;
    color: $orange;
  }
  p {
    font-size: 0.9em;
  }
}

// CARDS LINKING TO SELECTIONS OF WORKSHOPS

.home-selection-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5em;
}

.home-selection-card {
  border-radius: 0.3em;
  height: 20em;
  color: white;
  overflow: hidden;
  display: flex;
  img {
    height: 100%;
    object-fit: cover;
  }
}

.home-selection-text {
  margin: 1.5em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h2 {
    font-weight: 600;
    font-size: 1.5em;
  }
  h3 {
    font-size: 0.8em;
    font-weight: 500;
    padding-bottom: 0.5em;
  }
  a {
    padding-bottom: 0.3em;
    border-bottom: 0.17em solid white;
    color: white;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
  }
  a:hover {
    padding-right: 2em;
    transition: all 0.5s ease-out;
  }
}

#home-selection-first {
  background-color: $blue;
  img {
    object-position: top;
  }
}

#home-selection-second {
  background-color: $green;
}

#home-thematic-first {
  background-color: $green;
}

#home-thematic-second {
  background-color: $light-blue;
}


// RESPONSIVE HOMEPAGE//

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .home-steps-presentation {
    grid-template-columns: 1fr;
  }
  .home-selection-cards {
    grid-template-columns: 1fr;
  }
  .home-selection-card {
    height: auto;
    flex-direction: column;
    img {
    height: 12em;
    object-fit: cover;
    }
  }
  .home-selection-text {
  margin-top: 0.5em;
  height: auto;
    h2 {
      font-size: 1.4em;
    }
    h3 {
      font-size: 0.9em;
    }
    a {
      font-size: 1em;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 765px) {
  .home-steps-presentation {
    grid-template-columns: 1fr 1fr;
  }
  .home-selection-cards {
    grid-template-columns: 1fr;
  }
  .home-selection-card {
  height: 15em;
    img {
      width: 40%;
      height: auto;
      object-fit: cover;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px)  {
  .home-steps-presentation {
    grid-template-columns: 1fr 1fr;
  }
  .home-selection-cards {
    grid-template-columns: 1fr;
  }
  .home-selection-card {
  height: 15em;
    img {
      width: 40%;
      height: auto;
      object-fit: cover;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px)  {
  .home-selection-card {
    img {
      width: 50%;
      height: auto;
      object-fit: cover;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}


