// CSS - HOMEPAGE

// CONTAINER

.home-container {
  margin: 1.5em 1.5em 4em 1.5em;
  display: flex;
  justify-content: center;
}

.home-subcontainer {
  max-width: 1400px;
}

// EXPLANATIONS ABOUT THE PLATFORM FOR BTOC

.home-steps-title {
  color: $blue;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-top: 5em;
}

.home-steps-presentation-container {
  margin: 2em 4em 3em 4em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 4em;
}


.home-step-presentation {
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  img {
    height: 9em;
    width: 9em;
    object-fit: contain;
    margin-bottom: 1.5em;
  }
  h3 {
    font-weight: 600;
    font-size: 17px;
    color: $dark-blue;
  }
  p {
    font-size: 15px;
  }
}

// CARDS LINKING TO SELECTIONS OF WORKSHOPS

.home-selection-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5em;
  a {
    text-decoration: none;
    cursor: pointer;
  }
  a:hover {
    text-decoration: none;
  }
}

.home-selection-card {
  height: 20em;
  color: white;
  overflow: hidden;
  display: flex;
  img {
    height: 100%;
    object-fit: cover;
  }
}

.home-selection-text {
  margin: 1.5em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h2 {
    font-weight: 600;
    font-size: 24px;
    color: white;
  }
  h3 {
    font-size: 15px;
    line-height: 1.3;
    font-family: "Raleway", "sans-serif";
    font-weight: 400;
    padding-bottom: 0.5em;
    color: white;
  }
  .home-selection-btn {
    background: unset;
    padding: 0 0 0.3rem 0;
    border: unset;
    border-bottom: 0.17em solid white;
    border-radius: unset;
    color: white;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    outline: none;
    line-height: 1.5;
    white-space: unset;
  }
  .home-selection-btn:hover {
    padding-right: 2em;
    transition: all 0.5s ease-out;
  }
}

#home-selection-first {
  background-color: $light-blue;
}

#home-selection-second {
  background-color: $light-blue;
}

#home-thematic-first {
  background-color: $light-blue;
}

#home-thematic-second {
  background-color: $light-blue;
}

#home-thematic-third {
  background-color: $blue;
}

#home-thematic-fourth {
  background-color: $blue;
}


.home-category-title {
  color: $blue;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-top: 2.5em;
}
.home-category-subtitle {
  font-family: "Raleway", "sans-serif";
  font-weight: 400;
  text-align: center;
  font-size: 16px;
  margin-bottom: 2em;
}

// FAVORITE WS AND LAST MINUTE WS CARDS

.home-ws-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
  padding: 0 0.4em 0 0.4em;
}

.home-ws-cards-best-ratings {
  margin-bottom: 3.5em;
}

#home-ws-cards-best-ratings-title {
  margin-top: 2.3rem;
}

.home-ws-cards-last-minute {
  margin-bottom: 2.5em;
}

.home-cta-workshops {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 5rem;
  a {
    font-size: 17px;
  }
}

// Home giftcard presentation

.home-offer-giftcard-container {
  background-color: $light-blue;
  height: 300px;
  margin: 4rem 0;
}

.home-offer-giftcard {
  display: flex;
  justify-content: space-between;
  img {
    width: 600px;
    height: 300px;
    object-fit: cover;
  }
  .home-offer-giftcard-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 65px;
  }
  .home-offer-giftcard-btn {
    background-color: unset;
    border: 1px solid white;
    color: white;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    padding: 6px 13px;
    text-decoration: none;
    outline: unset;
  }
  .home-offer-giftcard-btn:hover {
    background-color: $blue;
    border-color: $blue;
    color: white;
  }
  #home-offert-giftcard-button {
    background-color: white;
    color: $light-blue;
  }
  #home-offert-giftcard-button:hover {
    background-color: $blue;
    border-color: $blue;
    color: white;
  }
}

// THEMATICS

.home-thematics-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  .home-one-thematic {
    height: 190px;
    width: 190px;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    display: flex;
    align-items: flex-end;
    margin: 1rem;
    padding: 10px 10px 30px 10px;
    h4 {
      color: white;
      font-size: 18px;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
      margin-bottom:unset;
      line-height: 1.2;
    }
  }
  .home-one-thematic:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0.2rem 0.6rem 0px;
  }
}

// BLOG

.home-blog-last-articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
}

.home-blog-one-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  img {
    object-fit: cover;
    border-radius: 5px;
  }
}

.home-blog-one-article:hover {
  .home-blog-one-article-title {
    display: block;
  }
}

.home-blog-one-article-title {
  position: absolute;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  font-size: 16px;
  text-align: center;
  top: 83%;
  left:0;
  right:0;
  display: none;
}


.home-cta-blog {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  a {
    font-size: 17px;
  }
}


// RESPONSIVE HOMEPAGE//

// Smallest device
@media (min-width: 100px) and (max-width: 359px) {
  .home-ws-cards {
    grid-template-columns: 1fr;
  }
  #home-ws-card-organizer-mobile {
    display: none;
  }
}

@media (min-width: 360px) and (max-width: 575px) {
  .home-ws-cards {
    grid-template-columns: 1fr 1fr;
    margin-left: -0.3em;
    margin-right: -0.3em;
  }
  #home-ws-card-organizer-desktop {
    display: none;
  }
  .home-blog-one-article {
    img {
      width: 300px;
      height: 300px;
    }
  }
}

@media (min-width: 100px) and (max-width: 575px) {
  .home-container {
    margin: 0.8em 0.8em 2em 0.8em;
  }
  .home-steps-title {
    margin-top: 2.5em;
    font-size: 22px;
    padding: 0 14px;
  }
  .home-selection-cards {
    grid-template-columns: 1fr;
  }
  .home-selection-card {
    height: auto;
    flex-direction: column;
    img {
    height: 12em;
    width: 100%;
    object-fit: cover;
    }
  }
  .home-selection-text {
    margin-top: 1em;
    height: auto;
    h2 {
      font-size: 22px;
    }
    h3 {
      font-size: 15px;
      font-weight: 500;
    }
    a {
      font-size: 16px;
    }
  }
  .home-steps-presentation-container {
    margin: 2em 0 1.5em 0;
    grid-template-columns: 1fr 1fr;
    grid-gap: unset;
    grid-column-gap: 0.8rem;
  }
  .home-step-presentation {
    img {
      height: 5.5em;
      width: 5.5em;
      object-fit: contain;
      margin-bottom: 1em;
    }
    h3 {
      font-size: 16px;
    }
    p {
      font-size: 14px;
    }
  }
  .home-category-title {
    margin-top: 2.5em;
    font-size: 22px;
    padding: 0 10px;
  }
  .home-category-subtitle {
    font-size: 15px;
    margin-bottom: 1.5em;
    line-height: 1.3em;
  }
  #home-ws-cards-best-ratings-title {
    margin-top: 1.7rem;
  }
  .home-offer-giftcard-container {
    height: auto;
  }

  .home-offer-giftcard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .home-offer-giftcard-btn {
      font-size: 13.5px;
    }
    img {
      width: 100%;
      height: 16em;
    }
    .home-selection-text {
      padding-top: 1rem;
    }
    h3 {
      margin-bottom: 2rem;
    }
  }
  .home-thematics-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    .home-one-thematic {
      height: 150px;
      width: auto;
      margin: unset;
      h4 {
        font-size: 18px;
      }
    }
  }
  .home-blog-last-articles {
    grid-template-columns: 1fr;
    grid-row-gap: 1.5rem;
  }
  .home-blog-one-article-title {
    display: block;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {

  .home-steps-title {
    margin-top: 3em;
  }
  .home-selection-cards {
    grid-template-columns: 1fr;
  }
  .home-selection-card {
  height: 15em;
    img {
      width: 40%;
      height: auto;
      object-fit: cover;
    }
  }
  .home-steps-presentation-container {
    margin: 2em 2em 3em 2em;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3em;
    grid-row-gap: 0;
  }
  #home-ws-card-organizer-desktop {
    display: none;
  }
  .home-ws-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .home-selection-text {
    margin-top: 0.7em;
    h2 {
      font-size: 20px;
    }
    h3 {
      font-size: 14px;
    }
  }
  #home-ws-cards-best-ratings-title {
    margin-top: 2.3rem;
  }
  .home-offer-giftcard-container {
    height: 250px;
  }

  .home-offer-giftcard {
    img {
      width: 250px;
      height: 250px;
    }
    .home-selection-text {
      padding-top: 1rem;
    }
  }
  .home-thematics-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    .home-one-thematic {
      margin: unset;
      height: 200px;
      width: auto;
    }
  }
  .home-blog-last-articles {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 2rem;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px)  {
  .home-selection-cards {
    grid-template-columns: 1fr;
  }
  .home-selection-card {
  height: 15em;
    img {
      width: 40%;
      height: auto;
      object-fit: cover;
    }
  }
  .home-steps-presentation-container {
    margin: 2em 4em 3em 4em;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 4em;
    grid-row-gap: 0;
  }
  #home-ws-card-organizer-desktop {
    display: none;
  }
  .home-ws-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 332px;
    overflow: hidden;
  }
  .home-offer-giftcard {
    img {
      width: 360px;
    }
  }
  .home-thematics-grid {
    .home-one-thematic {
      height: 200px;
      width: 207px;
    }
  }
  .home-blog-last-articles {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px)  {
  .home-selection-card {
    img {
      width: 50%;
      height: auto;
      object-fit: cover;
    }
  }
  .home-steps-presentation-container {
    margin: 2em 1em 3em 1em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2.5em;
  }
  #home-ws-card-organizer-mobile {
    display: none;
  }
  .home-ws-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 332px;
    overflow: hidden;
  }
  .home-offer-giftcard {
    img {
      width: 500px;
    }
  }
  .home-thematics-grid {
    .home-one-thematic {
      height: 200px;
      width: 250px;
    }
  }
  .home-blog-last-articles {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #home-ws-card-organizer-mobile {
    display: none;
  }
}

@media (min-width: 1300px) {
  .home-blog-last-articles {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}


