.legal-container {
  margin: 90px 100px;
}

.legal-title {
  h1 {
    color: $light-blue;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
  }
}

.legal-content {
  h2 {
    color: $blue;
    font-size: 18px;
    font-weight: 700;
    max-width: 100%;
    margin-bottom: 14px;
  }
  h3 {
    font-size: 18px;
    color: $light-blue;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 14px;
  }
  h4 {
    font-size: 16px;
    color: $blue;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 14px;
    text-decoration: underline;
  }
  p {
    font-weight: 500;
    font-size: 15px;
    color: $dark-gray;
    text-align: justify;
  }
  a {
    text-decoration: none;
    outline: none;
    color: $dark-gray;
    font-weight: 600;
  }
  a:hover {
    color: black;
  }
  ol {
    margin-bottom: 2rem;
    list-style-type: lower-latin;
    padding-inline-start: 30px;
  }
  ul {
    padding-inline-start: 20px;
  }
  li {
    font-weight: 500;
    font-size: 15px;
    color: $dark-gray;
    text-align: justify;
    margin-bottom: 6px;
  }
}

.legal-paragraph {
  margin: 0 0 40px 0;
}

.legal-sub-paragraph {
  margin: 0 0 40px 0;
}

.legal-sub-sub-paragraph {
  margin: 0 0 40px 0;
}

.cgv-refund-table {
  td {
    font-weight: 500;
    font-size: 15px;
    color: $dark-gray;
    text-align: justify;
    border: 1px solid #989494;
  }
}

.cgv-refund-conditions {
  background-color: $very-light-blue;
  width:40%;
}



// RESPONSIVE DESIGN LEGAL //

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .legal-container {
    margin: 50px 25px;
  }
  .legal-title {
    h1 {
      font-size: 20px;
    }
  }
  .legal-content {
    h2 {
      font-size: 17px;
    }
    p {
      font-size: 14px;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  .legal-container {
    margin: 70px 50px;
  }
  .legal-title {
    h1 {
      font-size: 20px;
    }
  }
  .legal-content {
    h2 {
      font-size: 17px;
    }
    p {
      font-size: 14px;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px)  {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px)  {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1600px) {
  .legal-container {
    max-width: 1400px;
  }
}
