.edit-place-container {
  margin: 4em 14em;

  h2 {
    font-weight: 600;
    font-size: 16px;
    color: $dark-blue;
    margin-bottom: 1rem;
  }

  .simple_form {
    .form-group {
      margin-bottom: 0.4rem;
    }
    .form-control {
      font-size: 15px;
    }
    select.disabled {
      -webkit-appearance: none;
      -moz-appearance: none;
    }
    label {
      font-weight: 600;
      color: $dark-blue;
      font-size: 16px;
      opacity: 0.8;
      margin-top: 1em;
    }
    p {
      font-size: 13px;
      font-style: italic;
    }
    .new-edit-ws-submit {
      background-color: $light-blue;
      letter-spacing: 1px;
    }
    .new-edit-ws-submit:hover {
      background-color: $blue;
    }
  }
}

// RESPONSIVE WORKSHOPS EDIT //

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .edit-place-container {
    margin: 1.5em 1.5em 3em 1.5em;
    h2 {
      font-size: 15px;
    }
    .simple_form {
      label {
        font-size: 15px;
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  .edit-place-container {
    margin: 3em 2em;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px)  {
  .edit-place-container {
    margin: 4em 4em;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px)  {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
