// PLACE AND ANIMATOR INDEX

.place-animator-index-title {
  padding: 0.75em;
  background-color: $light-blue;
  h1 {
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-align: center;
    margin: 1em 0 1.2em 0;
    line-height: 1.5;
  }
  span {
    font-weight: 700;
  }
  .submit-btn {
    background-color: unset;
    border: 2px solid white;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0.4em 1em;
    outline: none;
    transition: all 0.5s ease-out;
  }
  .submit-btn:hover {
    padding: 0.4em 1.6em;
    outline: none;
  }
  #submit-mobile {
    font-size: 20px;
    border: none;
    padding: 0;
  }
  #submit-mobile:hover {
    padding: 0;
    color: $blue;
  }
}

.place-animator-index-container {
  margin: 2em 4em;
  min-height: 390px;
}

.place-animator-index-search {

  margin-bottom: 1em;
  .simple_form {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0 1em;
  }
  .form-group {
    margin-right: 2em;
    width: 220px;
    margin-bottom: unset;
  }
  select {
    background-color: unset;
    color: white;
    font-weight: 500;
    font-size: 15px;
    border: unset;
    border-bottom: 2px solid white;
    padding: 0;
    cursor: pointer;
    background-position-x: 100%;
    background-position-y: 50%;
    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  }
  select:focus {
    outline: none;
    background-color: unset;
    color: white;
    border-bottom: 2px solid white;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  option {
    color: $dark-gray;
  }
}

.place-animator-index-cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0;
}

.place-animator-index-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  position: relative;
  height: auto;
  cursor: pointer;
  border-bottom: 1px solid $gray;
  padding: 14px 0;
  a {
    text-decoration: none;
  }
}

#place-animator-index-last-card {
  border-bottom: unset;
}

.place-animator-index-card-image-and-infos {
  display: flex;
  align-items: center;
}

.place-anim-card-image {
  position: relative;
  img {
    width: 8em;
    height: 8em;
    object-fit: cover;
  }
}

.place-anim-card-infos {
  padding: 10px 20px;
}

.place-anim-card-title {
  margin-bottom: 6px;
  h2 {
    display: flex;
    align-items: center;
    font-size : 15px;
    color: $dark-blue;
    margin-bottom: 4px;
    text-transform: uppercase;
  }
}

.place-anim-card-rating {
  position: absolute;
  top: 5px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $green;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 0.3rem 0px;
  padding: 0 6px;
  color: white;
  font-weight: 600;
  font-size: 13px;
  margin-right: 6px;
  font-family: "Montserrat", "sans-serif";
  .fas {
    font-size: 10px;
    margin-bottom: 2px;
    margin-right: 4px;
  }
}

.place-anim-card-city {
  h3 {
    display: flex;
    align-items: center;
    font-size : 13px;
    font-weight: 600;
    color: $dark-blue;
    margin-bottom: 6px;
    .fas {
      font-size: 15px;
      padding-right: 0.65em;
    }
    #city-left {
      padding-right: 6px;
    }
    #ephemeral-right {
      border-left: 1px solid $dark-blue;
      padding-left: 6px;
      text-transform: lowercase;
      font-weight: 600;
    }
  }
}

.place-anim-card-price {
  h4 {
    font-size: 13px;
    color: $green;
    font-weight: 600;
    margin-bottom: 6px;
  }
}

.place-anim-card-info-tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 12px;
  i {
    color: $dark-blue;
    font-size: 14px;
    padding-right: 0.5em;
    margin-bottom: 0.5em;
  }
  .informations-tag {
    display: flex;
    align-items: center;
    padding: 0.14em 0.6em;
    border: 1px solid $blue;
    color: $blue;
    font-weight: 600;
    border-radius: 0.4em;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 10px;
    margin-right: 0.4em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }
}
.place-anim-card-links-desktop {
  display: flex;
  flex-direction: column;
  .place-anim-card-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 12px;
    background-color: $light-blue;
    color: white;
    font-size: 14px;
    width: 129px;
    border-radius: 40px;
    font-weight: 600;
    text-align: center;
    margin-top: 6px;
    border: unset;
    outline: none;
  }

  #contact-place-link {
    background-color: $green;
    margin: unset;
  }
}
.place-anim-card-links-mobile {
  display: none;
}




// RESPONSIVE PLACE AND ANIMATOR INDEX //

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {

  .place-animator-index-title {
    padding: 0.5em;
    h1 {
      font-size: 14px;
      margin-left: 1.5em;
      margin-right: 1.5em;
    }
    .submit-btn {
      font-size: 12px;
      margin-top: 1em;
      align-self: flex-start;
    }
    #submit-mobile {
      display: none;
    }
  }

  .place-animator-index-container {
    margin: 1em 0;
  }
  .place-anim-card-image {
    img {
      width: 6em;
      max-height: 97px;
    }
  }
  .place-anim-card-title {
    margin-bottom: 6px;
    h2 {
      font-size : 14px;
    }
    span {
      font-size: 12px;
      .fas {
        font-size: 9px;
      }
    }
  }

  .place-animator-index-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -0.4em;
    #showIndexFilters {
      text-decoration: none;
      outline: none;
    }
  }

  .place-animator-index-filter.inactive {
    display: none;
  }

  .place-animator-index-search {
    height: 0px;
    overflow-y: hidden;
  }
  .place-animator-index-search.active {
    display: block;
    margin-bottom: 0.6em;
    height: 231px;
    transition: height 0.5s;
    .simple_form {
      flex-direction: column;
      align-items: center;
      margin: 0 2em;
    }
    .form-group {
      margin-right: unset;
      margin-bottom: 0.6em;
      width: 100%;
    }
    .form-control {
      font-size: 14px;
    }
  }

  .place-animator-index-search-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .place-anim-card-rating {
    background-color: $light-blue;
    top: 0;
    left: 0;
    box-shadow: unset;
    padding: 1px 6px;
    font-size: 11px;
    .fas {
      font-size: 9px;
    }
  }
  .place-anim-card-infos {
    padding: 0;
    padding-left: 14px;
  }
  .place-anim-card-city {
    h3 {
      margin-bottom: 4px;
      font-size : 13px;
      .fas {
        font-size: 13px;
      }
    }
  }
  .place-anim-card-price {
    h4 {
      font-size : 13px;
      margin-bottom: 4px;
      color: $light-blue;
    }
  }
  .place-anim-card-info-tags {
    display: none;
  }
  .place-animator-index-card {
    padding: unset;
    padding: 14px 0;
  }
  .place-animator-index-card-image-and-infos {
    align-items: center;
  }
  .place-anim-card-links-desktop {
    display: none;
  }
  .place-anim-card-links-mobile {
    display: flex;
    margin-top: 10px;
    i {
      font-size: 18px;
    }
    .place-anim-card-link {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      margin-left: 6px;
      border: 1px solid $light-blue;
      background-color: $light-blue;
      color: white;
      padding: 3px 10px;
      border-radius: 40px;
      outline: none;
      max-height: 27px;
    }
    #contact-place-link {
      margin: unset;
      border-color: $blue;
      color: $blue;
      background-color: unset;
      span {
        font-weight: 600;
        font-size: 13px;
      }
    }
    #anim-show-page {
      margin: unset;
    }
  }
  #hideIndexFilters {
    display: none;
  }
  #hideIndexFilters.active {
    display: block;
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-decoration:none;
    margin-top: 0.8em;
    margin-left: 2em;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  .place-animator-index-container {
    margin: 2em 2em;
  }
  .place-animator-index-title {
    .submit-btn {
      font-size: 12px;
      margin-top: 1em;
      align-self: flex-start;
    }
    #submit-mobile {
      display: none;
    }
  }
  .place-animator-index-search {
    .simple_form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 0 2em;
    }
    .form-group {
      margin-right: unset;
      margin-bottom: 0.6em;
      width: 90%;
    }
  }
  .place-animator-index-search-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .place-animator-index-filter {
    display: none;
  }
  #hideIndexFilters {
    display: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px)  {
  .place-animator-index-title {
    .submit-btn {
      margin-top: 1em;
      align-self: flex-start;
    }
    #submit-mobile {
      display: none;
    }
  }
  .place-animator-index-search {
    .simple_form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 0 2em;
    }
    .form-group {
      margin-right: unset;
      margin-bottom: 0.6em;
      width: 90%;
    }
  }
  .place-animator-index-search-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .place-animator-index-filter {
    display: none;
  }
  #hideIndexFilters {
    display: none;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px)  {
  .place-animator-index-title {
    #submit-mobile {
      display: none;
    }
  }
  .place-animator-index-filter {
    display: none;
  }
  #hideIndexFilters {
    display: none;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .place-animator-index-title {
    #submit-mobile {
      display: none;
    }
  }
  .place-animator-index-filter {
    display: none;
  }
  #hideIndexFilters {
    display: none;
  }
}

