// CSS SHOW PROFILE

// MY INFORMATIONS

.my-informations {
  #first-item {
    border-top: unset;
  }
  .my-informations-text {
    display: flex;
    flex-direction: column;
    color: $dark-gray;
    white-space: pre-line;
    img {
      margin: 0.5em 0;
      object-fit: cover;
    }
  }
  .my-informations-text:hover {
    color: $dark-gray;
  }
  .my-informations-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: unset;
    border-left: unset;
    padding: 0.7em 0;
  }
  .my-informations-button {
    padding: 0.2em 0.6em;
    color: $light-blue;
    font-weight: 600;
    font-family: 'Montserrat';
    text-decoration: none;
    background: unset;
    border: unset;
  }
  .my-informations-button:hover {
    color: $blue;
  }
  #last-my-informations-item {
    border-bottom: unset;
  }
}

// MODAL

.profile-update-modal {
  top: 64px;
  .modal-body {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1.5em;
    padding-top: 3.5em;
    height: auto;
  }
  button {
    position: absolute;
    top: 0.6em;
    right: 0.2em;
  }
  button:focus {
    outline: none;
  }
  .form-group {
    margin-bottom: 0;
  }
  .button {
    border: 1px solid $blue;
    border-radius: 32px;
    padding: 0.2rem 1rem;
    margin-top: 1em;
    margin-bottom: 2em;
    font-size: 15px;
  }
  .button:focus {
    outline: none;
  }
  .button:hover {
    background-color: $dark-blue;
    border-color: $dark-blue;
  }
  .form-control {
    width: 142%;
  }
}


// RESPONSIVE PROFILE SHOW //

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .my-informations-text {
    font-size: 14px;
  }
  .my-informations-button {
    font-size: 14px;
  }
  // MODAL

  .profile-update-modal {
    top: unset;
    .modal-dialog {
      max-width: unset;
      height: 100vh;
      width: 100vw;
      margin: unset;
    }
    .modal-content {
      width: 100vw;
      height: 100vh;
      border: unset;
    }
    .modal-body {
      padding-top: 5em;
      margin-left: 1em;
    }
    .form-control {
      width: 151%;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px)  {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px)  {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}


