.public-profile-container {
  margin: 0 3em;
}

// RESPONSIVE PLACE SHOW //

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .public-profile-container {
    margin: 0 1em;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 765px) {
  .public-profile-container {
    margin: 0 1.5em;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px)  {
  .public-profile-container {
    margin: 0 1em;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px)  {
  .public-profile-container {
    margin: 0 1.5em;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
