#sessions-index-container {
  .sign-form {
    margin: 1em 3em 5em 3em;
    width: 100%;
  }
  .sign-title {
    margin-top: 2em;
  }
}
.sessions-index-one-session {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.5em 1em;
  margin: 1.5em 0;
  border-left: 4px solid $light-blue;
  h3 {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 2px;
  }
  .sessions-index-sessions-available {
    opacity: 0.5;
    font-weight: 400;
    font-family: "Raleway", "sans-serif";
  }
  a {
    font-size: 13px;
  }

}

.sessions-index-buttons {
  display: flex;
  align-items: center;
  p {
    strong {
      font-size: 13px;
    }
    font-weight: 500;
    font-size: 11px;
    margin-bottom: unset;
    color: $dark-blue;
    line-height: 1.2;
    text-align: center;
  }
  .action-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $light-blue;
    background-color: $light-blue;
    color: white;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    height: 31px;
    width: 31px;
    border-radius: 30px;
    outline: none;
    margin: 0 5px;
  }
  .action-button:hover {
    background-color: $blue;
    border-color: $blue;
    text-decoration: none;
  }
  #delete-session {
    border-color: $blue;
    background-color: unset;
    color: $blue;
    font-size: 14px;
    height: unset;
    width: unset;
    padding: 4px 12px;
  }
  #delete-session:hover {
    background-color: $blue;
    color: white;
  }
  #delete-session-disabled {
    border-color: $medium-gray;
    background-color: unset;
    color: $medium-gray;
    font-size: 14px;
    height: unset;
    width: unset;
    padding: 4px 12px;
  }
}



// RESPONSIVE SESSIONS INDEX //

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  #sessions-index-container {
    grid-template-columns: 1fr;
    .sign-form {
      margin: 0.5em 1.5em;
      width: unset;
    }
    .sign-picture {
      display: none;
    }
    .sessions-index-one-session {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
    .sessions-index-buttons {
      margin-top: 0.6em;
      a {
        font-size: 13px;
      }
    }
    .sign-title {
      margin-top: 1.5em;
      font-size: 18px;
    }
    .back-button {
      font-size: 95%;
    }
  }
  .sessions-index-buttons {
    p {
      strong {
        font-weight: 500;
      }
      font-weight: 500;
      margin: 0 2px;
      color: $dark-gray;
    }
    .action-button {
      font-size: 12px;
      border: 1px solid $dark-gray;
      background-color: unset;
      color: $dark-gray;
    }
    .action-button:hover {
      border: 1px solid $blue;
      background-color: $blue;
      color: white;
    }
    #delete-session {
      border-color: $light-blue;
      background-color: $light-blue;
      color: white;
    }
    #delete-session:hover {
      background-color: $blue;
      border-color: $blue;
    }
    #delete-session-disabled {
      display: none;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  #sessions-index-container {
    grid-template-columns: 1fr;
    .sign-form {
      margin: 1em 1em;
      width: unset;
    }
    .sign-picture {
      display: none;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px)  {
  #sessions-index-container {
    grid-template-columns: 1fr;
    .sign-form {
      margin: 1em 2em;
      width: unset;
    }
    .sign-picture {
      display: none;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px)  {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}


