.transactions-container {
  margin: 2rem 3rem 4rem 3rem;

  h2 {
    font-size: 16px;
    font-weight: 600;
    color: $blue;
    margin-bottom: 15px;
  }
  .transactions-exports {
    margin-bottom: 45px;
    display: flex;
    flex-wrap: wrap;
  }

  .transactions-export-xls {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 10px;
    background-color: unset;
    border: 1px solid $blue;
    color: $blue;
    text-decoration: none;
    outline: none;
    max-width: 210px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 500;
  }

  .transactions-export-xls:hover {
    text-decoration: none;
    border-color: $dark-blue;
    color: $dark-blue;
  }

  .transactions-table {
    margin-bottom: 35px;
    input {
      border: 1px solid #bab7b7;
      outline: none;
      margin-left: 7px;
      width: 210px;
      min-width: 120px;
    }
    .dataTables_length {
      font-size: 12px;
      margin-bottom: 10px;
    }
    .dataTables_filter {
      margin-bottom: 10px;
    }
    .dataTables_info {
      font-size: 12px;
      margin-bottom: 15px;
    }
    .dataTables_paginate {
      display: flex;
      justify-content: center;
      align-items: center;
      .paginate_button {
        margin: 6px;
        cursor: pointer;
        background-color: unset;
        border: 1px solid $dark-blue;
        color: $dark-blue;
        border-radius: 50%;
        padding: 4px 8px;
        outline: none;
      }
      .paginate_button:hover {
        background-color: $light-blue;
        border-color: $light-blue;
        color: white;
      }
      .paginate_button.current {
        background-color: $dark-blue;
        color: white;
      }
      .previous {
        border: unset;
        background-color: unset;
        color: $dark-blue;
        padding: unset;
      }
      .previous:hover {
        text-decoration: underline;
        background-color: unset;
        border-color: unset;
        color: $dark-blue;
      }
      .next {
        border: unset;
        background-color: unset;
        color: $dark-blue;
        padding: unset;
      }
      .next:hover {
        text-decoration: underline;
        background-color: unset;
        border-color: unset;
        color: $dark-blue;
      }
    }
  }
  .button {
    padding: 6px 14px;
    text-decoration: none;
    font-size: 14px;
  }
  .button:hover{
    text-decoration: none;
    color: white;
    background-color: $dark-blue;

  }
}

// RESPONSIVE TRANSACTIONS //

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .transactions-container {
    margin: 1.5rem 1rem 3rem 1rem;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  .transactions-container {
    margin: 2rem 1.5rem 3rem 1.5rem;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px)  {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px)  {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
