.edit-ws-container {
  margin: 4em 8em;

  .new-edit-ws-submit {
    background-color: $blue;
  }
  .new-edit-ws-submit:hover {
    background-color: $dark-blue;
  }
  h3 {
    font-weight: 500;
    font-size: 15px;
    color: $dark-blue;
  }

  .simple_form {
    .form-group {
      margin-top: 20px;
    }
    .form-control {
      font-size: 15px;
    }
    .ws-edit-new-address {
      display: flex;
      justify-content: center;
      align-items:center;
      background-color: $blue;
      color: white;
      padding: 0 10px;
      text-decoration: none;
      height: 36.5px;
      font-weight: 500;
      font-size: 14px;
    }
    .ws-edit-new-address:hover {
      background-color: $dark-blue;
    }
    .ws-edit-choices-or {
      margin: 4px 10px 0 10px;
    }
    #workshop_place_id {
      max-width: 350px;
    }
    .workshop_ephemeral {
      input[type="checkbox"] {
        margin-top: 21px;
      }
    }
    .form-check-label {
      font-weight: 400;
      font-size: 15px;
      color: $dark-gray;
    }
    select.disabled {
      -webkit-appearance: none;
      -moz-appearance: none;
    }
    label {
      font-weight: 600;
      color: $dark-blue;
      font-size: 16px;
      opacity: 0.8;
    }
    legend {
      font-weight: 600;
      color: $dark-blue;
      font-size: 16px;
      opacity: 0.8;
    }
    input[type=file]::-webkit-file-upload-button {
      color: $blue;
      font-weight: 600;
      font-size: 14px;
      border: 1.5px solid $blue;
      padding: 4px 14px;
      border-radius: 4px;
      background: transparent;
      cursor: pointer;
      outline: none;
    }
    p {
      font-size: 15px;
    }
  }
}

.edit-ws-photos {
  flex-wrap: wrap;
  img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-top: 0.3em;
  }
}

// RESPONSIVE WORKSHOPS EDIT //

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .edit-ws-container {
    margin: 1.5em 1.5em 3em 1.5em;
    h3 {
      font-size: 14px;
    }
    .simple_form {
      label {
        font-size: 15px;
      }
    }
  }
  .edit-ws-photos {
    img {
      width: 65px;
      height: 65px;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  .edit-ws-container {
    margin: 3em 2em;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px)  {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px)  {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
