// CSS PAGE INDEX WORKSHOPS

// MAP BUTTON

.index-ws-map-and-list-button {
  border-radius: 22px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.8em;
  height: 1.8em;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0.2rem 0.4rem 0px;
  font-size: 1.3em;
  position: fixed;
  bottom: 2vh;
  right: 2vh;
  z-index: 2;
  span {
    font-weight: 600;
    font-size: 15px;
    margin-right: 0.8em;
  }
}

#listButton {
  padding-top: 3px;
  color: $dark-blue;
  background-color: $white;
  span {
    font-weight: 700;
  }
}

#listButton.inactive {
  display: none;
}
#listButton:focus {
  outline: none;
}

#mapButton {
  padding-top: 2px;
  color: white;
  background: $dark-blue;
}
#mapButton.inactive {
  display: none;
}
#mapButton:focus {
  outline: none;
}

// ADAPT MAP BUTTON

#adaptMapButton.inactive {
  display: none;
}

#adaptMapButton {
  .button {
    position: absolute;
    right: 20px;
    top: 165px;
    z-index: 3;
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0.2rem 0.4rem 0px;
    padding: 3px 14px;
    border-radius: 30px;
    background-color: white;
    font-size: 14px;
    font-weight: 500;
    color: $dark-blue;
    outline: none;
  }
  .button:hover {
    border-color: $dark-blue;
  }
}

// CONTAINERS

.index-ws-search-filters-container {
  padding: 1rem 9rem 0.7rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $light-blue;
  min-height: 76px;
}

.ws-index-search-parameters {
  border-left: 3px solid $light-blue;
  display: flex;
  flex-wrap: wrap;

  .ws-index-search-tag {
    display: flex;
    background-color: unset;
    justify-content: space-between;
    align-items: center;
    padding: 2px 13px;
    border: 1px solid white;
    border-radius: 30px;
    margin: 0 5px 6px 0;
    color: white;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    .fas {
      font-size: 12px;
      padding-top: 2px;
    }
    input {
      border: unset;
      padding: unset;
      background: unset;
      color: white;
      font-weight: 600;
      font-size: 14px;
      outline: none;
    }
  }
  .ws-index-search-tag:hover {
    background-color: white;
    color: $dark-blue;
    font-weight: 500;
    input {
      color: $dark-blue;
      font-weight: 500;
    }
  }
}

.index-ws-cards-map-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

// TITLE AND CARDS

.index-ws-left-side {
  padding: 2em;
  min-height: 80vh;
  max-height: 80vh;
  #index-ws-title {
    font-size: 30px;
    color: $dark-blue;
    font-weight: 700;
    margin-bottom: 0.5em;
    font-family: "Amiri", serif;
  }
  #index-ws-description {
    font-size: 14px;
    color: $dark-blue;
    margin-bottom: 1em;
    font-weight: 500;
    line-height: 1.4;
  }
  .index-ws-results {
    font-size: 14px;
    color: $dark-blue;
    margin-bottom: 2em;
    font-weight: 500;
    line-height: 1.4;
    span {
      font-weight: 600;
    }
  }
}

.index-ws-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 2em;
  grid-column-gap: 1em;
  margin-bottom: 2rem;
}




// RESPONSIVE WORKSHOP INDEX //

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  #adaptMapButton {
    display: none;
  }
  .index-ws-cards {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1.2em;
    grid-column-gap: 1em;
  }
  .index-ws-search-filters-container {
    padding: 1rem 6rem 0.7rem 1rem;
    position: fixed;
    z-index: 2;
    background-color: $light-blue;
    margin: 0;
    margin-top: 4em;
    width: 100vw;
    max-height: 130px;
    min-height: 80px;
  }
  .ws-index-search-parameters {
    border-left: 2px solid $light-blue;
  }

  .index-ws-cards-map-container {
    display: block;
    padding: 11em 0 2em 0;
    h1 {
      font-size: 17px;
      font-weight: 600;
      margin-bottom: 1em;
    }
  }
  .index-ws-cards-map-container.fullmap {
    padding: 0;
    position: fixed;
    height: 80vh;
    width: 100vw;
    bottom: 0;
    .index-ws-left-side {
      display: none;
    }
  }
  .index-ws-left-side {
    padding: 1em;
  }
  .ws-map {
    visibility: hidden;
    position: absolute;
  }
  .ws-map.active {
    visibility: visible;
  }
  #index-ws-card-place-desktop {
    display: none;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  #adaptMapButton {
    display: none;
  }
  .index-ws-cards {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0.8em;
  }
  #index-ws-card-place-desktop {
    display: none;
  }
  .index-ws-search-filters-container {
    padding: 1rem 7rem 0.7rem 1rem;
    position: fixed;
    z-index: 2;
    background-color: $light-blue;
    margin: 0;
    margin-top: 4.4em;
    width: 100vw;
    max-height: 130px;
    min-height: 80px;
  }
  .index-ws-cards-map-container {
    display: block;
    padding: 11em 0 2em 0;
    h1 {
      font-size: 17px;
      font-weight: 600;
      margin-bottom: 1em;
    }
  }
  .index-ws-cards-map-container.fullmap {
    padding: 0;
    position: fixed;
    height: 80vh;
    width: 100vw;
    bottom: 0;
    .index-ws-left-side {
      display: none;
    }
  }
  .index-ws-left-side {
    padding: 1em;
  }
  .ws-map {
    visibility: hidden;
    position: absolute;
  }
  .ws-map.active {
    visibility: visible;
    position: sticky;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px)  {
  .index-ws-cards {
    grid-template-columns: 1fr 1fr;
  }
  .index-ws-cards-map-container {
    grid-template-columns: 1.5fr 1fr;
  }
  #index-ws-card-place-desktop {
    display: none;
  }
  #mapButton {
    display: none;
  }
  #listButton {
    display: none;
  }
  #map {
    position: sticky;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px)  {
  #index-ws-card-place-mobile {
    display: none;
  }
  .index-ws-cards-map-container {
    grid-template-columns: 1.75fr 1fr;
  }
  .index-ws-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #mapButton {
    display: none;
  }
  #listButton {
    display: none;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #index-ws-card-place-mobile {
    display: none;
  }
  #mapButton {
    display: none;
  }
  #listButton {
    display: none;
  }
}
