// CONFIRMATION CSS

// CONFIRMATION PAGE

#confirmation-ws-container {
  display: flex;
  .sign-title {
    font-size: 22px;
  }
}
.ws-confirmation-item {
  margin: 2em 0;
  h3 {
    color: $dark-blue;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 1em;
  }
  p {
    margin-top: 1em;
  }
  strong {
    color: $dark-blue;
  }
}
.ws-confirmation-item-button {
  margin-bottom: 2em;
}

// CONFIRMATION MODALS


.confirm-session-modal {
  left: 3.8em;
  .form-group.session_date {
    margin-top: 3em;
  }
  select {
    background-position-x: 98%;
  }
  .modal-dialog {
    margin: 4.4em 0 0 0;
  }
}

.confirm-animator-modal {
  left: 3.8em;
  .form-group.animator_user {
    margin-top: 2em;
  }
  select {
    background-position-x: 98%;
  }
  .modal-dialog {
    margin: 4.4em 0 0 0;
  }
}

.confirm-btn {
  background-color: $green;
  color: white !important;
  border-radius: 32px;
  padding: 0.3rem 1.2rem;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  border: unset;
  width: 200px;
  justify-content: center;
  outline: none;
}
.confirm-btn:hover {
  background-color: $light-blue;
  text-decoration: none;
  cursor: pointer;
}

#previsualize-ws {
  background-color: $light-blue;
}
#previsualize-ws:hover {
  background-color: $green;
}



// RESPONSIVE CONFIRMATION //

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  #confirmation-ws-container {
    .sign-title {
      font-size: 20px;
    }
    .sign-form {
      margin: 3em 2em;
    }
  }
  .ws-confirmation-item {
    margin: 2em 0;
    h3 {
      font-size: 15px;
    }
    p {
      font-size: 15px;
    }
  }
  .confirm-btn {
    width: 100%;
  }


  // MODAL

  .confirm-session-modal {
    left: 0;
    .modal-dialog {
      max-width: unset;
      height: 100vh;
      width: 100vw;
      margin: unset;
    }
    .modal-content {
      width: 100vw;
      height: 100vh;
      border: unset;
    }
    .modal-body {
      padding-top: 5em;
    }
  }
  .confirm-animator-modal {
    left: 0;
    .modal-dialog {
      max-width: unset;
      height: 100vh;
      width: 100vw;
      margin: unset;
    }
    .modal-content {
      width: 100vw;
      height: 100vh;
      border: unset;
    }
    .modal-body {
      padding-top: 5em;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
// MODAL

  .confirm-session-modal {
    left: 0;
    .modal-dialog {
      max-width: unset;
      height: 100vh;
      width: 100vw;
      margin: unset;
    }
    .modal-content {
      width: 100vw;
      height: 100vh;
      border: unset;
    }
    .modal-body {
      padding: 5em;
    }
  }
  .confirm-animator-modal {
    left: 0;
    .modal-dialog {
      max-width: unset;
      height: 100vh;
      width: 100vw;
      margin: unset;
    }
    .modal-content {
      width: 100vw;
      height: 100vh;
      border: unset;
    }
    .modal-body {
      padding: 5em;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px)  {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px)  {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}




