// CSS WS INDEX FILTERS

// FILTERS BUTTON

#orderAndFilter {
  background-color: white;
  color: $blue;
  padding: 0.6em 1em;
  font-size: 14px;
  font-weight: 600;
  font-family: "Montserrat", "sans-serif";
  width: auto;
  border-radius: 3em;
  text-decoration: none;
  position : absolute;
  right: 1.7rem;
  top: 5.6rem;
  z-index: 4;
}

#orderAndFilter:hover {
  background-color: $dark-blue;
  color: white;
  text-decoration: none;
}

// FILTERS MODAL

.filters-modal {
  font-size: 15px;
  font-weight: 500;
  color: $dark-gray;
  .simple_form {
    display: flex;
    flex-direction: column;
    padding: 2em 2em 0em 2em;
    background-color: white;
  }
  .form-group {
    margin-bottom: 1.2rem;
  }
  input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: 3px;
    width: 16px;
    height: 16px;
    padding: 2px;
    background-clip: content-box;
    border: 2px solid $gray;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
  }

  input[type="radio"]:checked {
    background-color: $blue;
    border-color: $blue;
  }

  input[type="radio"]:focus {
    outline: none;
  }

  h2 {
    font-size: 22px;
    font-weight: 600;
    color: $blue;
    margin-bottom: 1em;
  }
  .modal-content {
    border-radius: 0;
    height: 100vh;
  }
  .modal-dialog {
    margin: 4.4rem 0 4.4rem auto;
  }
  button {
    position: absolute;
    top: 0.9em;
    right: 0.2em;
  }
  button:focus {
    outline: none;
  }
  #search_max_price {
    margin-left: 10px;
    width: 120px;
  }
  .search_max_price {
    label {
      margin-left: 10px;
    }
  }
  #search_min_price {
    width: 120px;
  }
  .form-check {
    margin-bottom: 4px;
    label {
      margin-left: 10px;
    }
  }

  #search_min_capacity {
    width: 145px;
  }

  #search_level {
    width: 150px;
    margin-left: 10px;
  }
  .search_level {
    label {
      margin-left: 10px;
    }
  }
  .search_ephemeral {
    position: relative;
  }
  .submit-btn {
    width: 114%;
    height: 40px;
    background-color: $blue;
    color: white;
    border: none;
    font-family: "Montserrat", "sans-serif";
    font-weight: 600;
    position: sticky;
    bottom: 0;
    margin: 60px 0 -30px -30px;
  }
  .submit-btn:hover {
    background-color: $dark-blue;
  }
}

.filters-reinitialize-btn {
  position: fixed;
  bottom: 4rem;
  background-color: $light-blue;
  padding: 4px 12px;
  color: white;
  border: solid 1px $light-blue;
  align-self: flex-end;
  border-radius: 30px;
  font-weight: 500;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0.2rem 0.4rem 0px;
}

.filters-reinitialize-btn:hover {
  outline: none;
  background-color: $blue;
}


// RESPONSIVE DESIGN FILTERS //

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  #orderAndFilter {
    position: fixed;
    right: 1rem;
    top: 5.6rem;
  }
  .filters-modal {
    .modal-dialog {
      max-width: unset;
      height: 100vh;
      margin: unset;
    }
    .modal-content {
      width: 100vw;
      border: unset;
    }
    .submit-btn {
      width: 100vw;
    }
  }
  .filters-reinitialize-btn {
    right: 1rem;
  }

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  #orderAndFilter {
    position: fixed;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px)  {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px)  {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
