// CSS - WORKSHOP - SHOW

// MAIN CONTAINERS

.container-ws-show {
  width: 65%;
}

.container-ws-show-infos {
  margin-right: 3em;
  margin-left: 3em;
}

// MOBILE BOOKING

.booking-mobile-button {
  display: none;
  background-color: $dark-blue;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.6em 0.5em;
  color: white;
  font-weight: 600;
  font-size: 1.2em;
  text-align: center;
  z-index: 3;
}

#hideShowInformation.inactive {
  display: none;
}

// BOOKING BOX

.container-ws-show-booking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.5em;
  background-color: $green;
  width: 32%;
  height: 30em;
  top: 7.95em;
  right: 3em;
  position: fixed;
  z-index: 0;
  h3 {
    color: white;
    margin-bottom: 2em;
    font-size: 19px;
  }
  .white-btn {
    font-size: 22px;
    border-width: 0.13em;
    margin-top: 1.5em;
  }
  #ws-booking-price {
    color: white;
    font-weight: 600;
    font-size: 19px;
  }
  span {
    color: white;
    padding-left: 0.1em;
  }
  .ws-price {
    margin-top: 2em;
  }
  #bookingExit {
    display: none;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
  }
}

.ws-show-informations-title {
  margin-top: 2em;
  margin-bottom: 1em;
  h1 {
    color: $dark-blue;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 24px;
  }
}

// ORGANIZERS

.ws-show-informations-organizers {
  background-size: cover;
  background-position: top;
  padding: 3em 0em 0em 0em;
  color: white;
  display: flex;
  justify-content: space-between;
  a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
  }
  img {
    object: cover;
  }
}

.ws-show-informations-place {
  margin-top: 0.5em;
  display: flex;
  img {
    height: 8em;
  }
  #ws-show-place {
    padding-left: 1.3em;
    padding-top: 1em;
  }
}

.ws-show-informations-animator {
  margin-top: 1em;
  text-align: right;
  display: flex;
  align-items: flex-end;
  span {
    padding-right: 1.5em;
    padding-bottom: 2em;
  }
  img {
    height: 10em;
  }
}

// MOBILE EPHEMERAL STATUS

.ws-show-ephemeral-status-mobile {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $green;
  color: white;
  font-weight: 500;
  font-size: 14px;
  height: 4em;
  span {
    text-align: center;
  }
  .far {
    margin-bottom: 2px;
    font-size: 14px;
  }
  a {
    color: white;
    font-weight: 700;
  }
  a:hover {
    text-decoration: none;
    color: $dark-blue;
  }
}

// PROGRAM & TAGS

.ws-show-informations-program {
  p {
    padding-bottom: 0.6em;
  }
}

.ws-show-informations-tags {
  display: flex;
  flex-wrap: wrap;
  i {
    color: $orange;
    font-size: 1.5em;
    padding-right: 0.25em;
  }
  .informations-tag {
    display: flex;
    align-items: center;
    padding: 0.15em 0.7em;
    background-color: $orange;
    border: 1px solid $orange;
    color: white;
    font-weight: 600;
    border-radius: 0.4em;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 13px;
    margin-right: 0.4em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }
  .informations-tag:hover {
    background-color: unset;
  }
  #informations-tag-unclickable {
    color: $white;
  }
  #informations-tag-unclickable:hover {
    background-color: $orange;
    color: $white;
  }
  .informations-tag-submit {
    border: unset;
    background: unset;
    padding: unset;
    color: white;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
  }
  .informations-tag-submit:hover {
    outline: none;
    color: $orange;
  }
  .informations-tag-submit:focus {
    outline: none;
  }
}

// ORGANIZERS WITH DESCRIPTIONS

.ws-show-informations-organizer-animator-description {
  #place-description-paragraph {
    margin-bottom: 10px;
  }
  #animator-description-paragraph {
    margin-bottom: 10px;
  }
  a {
    font-size: 14px;
    color: $blue;
    font-weight: 500;
    text-decoration: none;
    border: 1px solid $blue;
    padding: 2px 8px;
    border-radius: 4px;
    outline: none;
  }
  a:hover {
    background-color: $blue;
    color: white;
  }
}

// REVIEWS

.ws-show-informations-program-reviews {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2em;
  margin-top: 2em;
  h2 {
    color: $light-blue;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 600;
  }
  p {
    margin: 0;
    text-align: justify;
  }
}

.ws-show-informations-reviews-title {
  margin-bottom: 1.5em;
}

// WS SUGGESTIONS

.show-ws-suggestions {
  margin-bottom: 10rem;
}
.show-ws-cards-title {
  margin-bottom: 1.5rem;
}

.show-ws-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 2em;
  grid-column-gap: 1em;
}




// RESPONSIVE WORKSHOP SHOW //

// Smallest device
@media (min-width: 100px) and (max-width: 767px) {

  // containers
  .container-ws-show {
    width: 100%;
  }
  .container-ws-show-booking {
    display: none;
    z-index: 3;
  }

  // back button

  #ws-show-back-button {
    margin: 0;
    padding-left: 1em;
    position: absolute;
    top: 5em;
    text-shadow: 0px 2px 4px #00000080;
    z-index: 2;
    a {
      color: $light-gray;
    }
  }

  // booking
  .booking-mobile-button {
    display: block;
    cursor: pointer;
  }
  .booking-mobile-button.inactive {
    display: none;
  }
  #bookingExit.active {
    display: block;
    width: 3.5em;
    position: absolute;
    right: 1.2em;
    top: 1.5em;
    cursor: pointer;

  }
  .container-ws-show-booking.active {
    display: block;
    right: unset;
    width: 100vw;
    height: 100vh;
    top: unset;
    border-radius: unset;
    padding-top: 7em;
    font-size: 85%;
    text-align: center;
    .ws-price {
      justify-content: center;
    }
    h3 {
      margin-bottom: 1.2em;
    }
  }

  // information box
  .container-ws-show-infos {
    margin: 0em;
    h1 {
      font-size: 19px;
    }
  }
  .ws-show-informations-title {
    margin-top: 1em;
    margin-right: 1.3em;
    margin-left: 1.3em;
  }

  // information about organizers
  .ws-show-informations-organizers {
    font-size: 14.3px;
    padding: 3em 0 0 0;
    font-weight: 500;
    a {
      font-weight: 700;
    }
  }
  .ws-show-informations-place {
    #ws-show-place {
      padding-top: 0;
      padding-left: 1em;
    }
  }
  .ws-show-informations-animator {
    img {
      width: 55px;
      height: 80px;
    }
    span {
      padding-right: 1em;
    }
  }

  // reviews
  .ws-show-informations-program-reviews {
    margin-right: 1.3em;
    margin-left: 1.3em;
    p {
      font-size: 15px;
    }
  }

  #show-ws-card-place-desktop {
    display: none;
  }
  .show-ws-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 100px) and (max-width: 399px) {
 .ws-show-informations-place {
    margin-top: -0.5em;
    margin-bottom: 1em;
    img {
      display: none;
    }
  }
  #show-ws-card-place-desktop {
    display: none;
  }
}

@media (min-width: 400px) and (max-width: 767px) {
 .ws-show-informations-place {
    img {
      height: 70px;
      width: 70px;
    }
  }
  #show-ws-card-place-desktop {
    display: none;
  }
}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px)  {
  .container-ws-show-infos {
    margin-right: 1.5em;
    margin-left: 1.5em;
  }
  .ws-show-link-to-organizers {
    grid-template-columns: 1fr;
  }
  .ws-show-informations-organizers {
    // font-size: 90%;
  }
  .ws-show-informations-place {
    font-size: 15px;
    img {
      height: 70px;
      width: 85px;
    }
    #ws-show-place {
      padding-top: unset;
      padding-bottom: 1em;
    }
  }
  .ws-show-informations-animator {
    font-size: 15px;
    img {
      height: 110px;
      width: 75px;
    }
  }

  .container-ws-show-booking {
    padding: 1.5em;
    width: 33%;
    height: 25em;
    right: 1.5em;
    .white-btn {
      margin-top: 1em;
      font-size: 19px;
    }
    .ws-price {
      margin-top: 1.5em;
    }
  }
  .ws-show-ephemeral-status-mobile {
    display: none;
  }
  #show-ws-card-place-mobile {
    display: none;
  }
  .show-ws-cards {
    grid-template-columns: 1fr 1fr;
  }
}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px)  {
  .ws-show-ephemeral-status-mobile {
    display: none;
  }
  #show-ws-card-place-mobile {
    display: none;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .ws-show-ephemeral-status-mobile {
    display: none;
  }
  #show-ws-card-place-mobile {
    display: none;
  }
  .show-ws-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

