<div class="footer-newsletter">
  <!-- Begin Mailchimp Signup Form -->
  <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
  <div id="mc_embed_signup" class="pl-1">
  <form action="https://jeudemains.us7.list-manage.com/subscribe/post?u=2e559f73335a0313cbbf177f2&amp;id=b6d00f57f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
    <p id="footer-newsletter-title">Inscrivez-vous à la newsletter</p>
    <p id="footer-newsletter-subtitle">pour suivre toute l'actualité de Jeu de Mains !</p>
    <div class='footer-newsletter-inputs'>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Votre e-mail" required="" style="
          background-color: unset; color: white; border: unset; border-bottom: 2px solid white; border-radius: unset; width:95%;">
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_2e559f73335a0313cbbf177f2_b6d00f57f0" tabindex="-1" value="">
      </div>
      <div class="clear">
        <input type="submit" value="Je m'inscris" name="subscribe" id="mc-embedded-subscribe" class="button">
      </div>
    </div>
  </form>
  </div>
  <!--End mc_embed_signup-->
</div>
