<h1><%= @workshop.place.user.profile.company %> vous invite à rejoindre Jeu de Mains !</h1>
<p>Il semblerait que vous animiez prochainement un atelier organisé par <%= @workshop.place.user.profile.company %></p>
<p>Et si vous rejoigniez Jeu de Mains, plateforme de réservation d'ateliers créatifs, pour retrouver en un seul et même endroit tous les ateliers que vous organisez et/ou animez ?</p>
<%= link_to "Rejoindre la plateforme", devenir_partenaire_url %>
