<div id="carouselStepsMobile" class="carousel slide" touch="true">
  <ol class="home-steps-carousel-indicators carousel-indicators">
    <li data-target="#carouselStepsMobile" data-slide-to="0" class="active"></li>
    <li data-target="#carouselStepsMobile" data-slide-to="1"></li>
    <li data-target="#carouselStepsMobile" data-slide-to="2"></li>
    <li data-target="#carouselStepsMobile" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <div class="home-steps-carousel-item carousel-item active">
      <div class="home-step-presentation">
        <%= image_tag "check.svg", alt: "réservation" %>
        <h3>Réservez votre atelier créatif sur jeudemains.com</h3>
        <p>Couture, tricot, art floral, cosmétique, broderie, paper art et plein d'autres encore !</p>
      </div>
    </div>
    <div class="home-steps-carousel-item carousel-item">
      <div class="home-step-presentation">
        <%= image_tag "shop.svg", alt: "boutique" %>
        <h3>Rendez-vous sur le lieu de l'atelier</h3>
        <p>où vous attendent un animateur, des participants enthousiastes et tout le nécessaire pour fabriquer l'objet prévu !</p>
      </div>
    </div>
    <div class="home-steps-carousel-item carousel-item">
      <div class="home-step-presentation">
        <%= image_tag "making.svg", alt: "faire soi-même" %>
        <h3>Détendez-vous pendant la durée de l'atelier</h3>
        <p>et laissez-vous guider par les conseils et étapes prodigués par l'animateur.</p>
      </div>
    </div>
    <div class="home-steps-carousel-item carousel-item">
      <div class="home-step-presentation">
        <%= image_tag "final-product.svg", alt: "produit final" %>
        <h3>Repartez avec votre création unique</h3>
        <p>réalisée avec vos dix doigts !</p>
      </div>
    </div>
  </div>
</div>
