<% content_for :meta_title, "Jeu de Mains | À propos" %>

<div class="about-container">

  <div class="about-two-columns-strip">
    <div class="about-two-columns-image-container">
    </div>
    <div>
      <h2>La genèse</h2>
      <p>C'est l'histoire d'un retour en enfance, d'une impression de déjà vu, de sensations retrouvées.</p><br>
      <p>Vous souvenez-vous de la grande créativité que vous développiez tous les jours enfant ? Vous pratiquiez une coupe de cheveux approximative sur vos barbies, vous donniez vie à des animaux en pâte à sel, vous décoriez les murs de votre chambre avec des posters de vos idôles, vous dessiniez de beaux poissons d’avril, bref vous réalisiez énormément avec vos dix doigts et vous adoriez cela !</p><br>
      <p>C'est en 2019 que nous, Eugénie et Kassandra, retrouvons ces sensations à l'occasion d'un atelier Do It Yourself. Ce format nous séduit par tous ses aspects : la découverte d'un savoir-faire, une bulle de détente de quelques heures où l'on se déconnecte de notre quotidien, de belles rencontres et la satisfaction personnelle de l'objet fini avec lequel nous rentrons chez nous.</p><br>
      <p>Notre unique frein dans toute cette découverte se révèle être la recherche d'ateliers par internet : des heures passées sur les moteurs de recherche en vain. C'est finalement le bouche-à-oreille qui nous a le plus aidées.</p><br>
      <p>Après une vingtaine d'ateliers suivis, totalement conquises par cette formule, nous décidons de nous lancer en créant la plateforme de réservation d'ateliers créatifs Jeu de Mains.</p>
    </div>
  </div>

  <div class="about-one-column-strip" id="about-blue-strip">
    <h2>Notre mission</h2>
    <h3>Vous aider à révéler l'âme créative et récréative qui sommeille en vous !</h3>
    <p>Nous comptons sur vous pour prochainement crier haut et fort "c'est moi qui l'ai fait !".</p>
    <%= cl_image_tag("https://res.cloudinary.com/jeudemains/image/upload/v1593192507/jeu-de-mains-anime-par.svg", :loading => "lazy", :width => 150, :crop => :fill, :alt => "jeu-de-mains-savoir-faire-illustration", :title => "jeu-de-mains-savoir-faire-illustration") %>
  </div>

<!--   <div class="about-one-column-strip">
      <h2>Nos valeurs</h2>
      <h3>Créativité</h3>
      <h3>Satisfaction</h3>
        satisfaction personnelle et satisfaction client
  <h3>Partage</h3>

        convivialité des ateliers, souhait de partager les bienfaits du DIY, communauté de partenaires


  </div>
  <div class="about-one-column-strip">
    <h2>L'équipe</h2>
  </div> -->

</div>
