<% content_for :meta_title, "Jeu de Mains | Conditions Générales d'Utilisation et de Vente" %>

<div class="legal-container">
  <div class="legal-title mb-2">
    <h1>Conditions Générales d'Utilisation et de Vente</h1>
  </div>

  <div class="legal-content">
    <div class="legal-paragraph">
      <p>
        JEU DE MAINS, Société par Action Simplifiée au capital de 1.000 euros ayant son siège social au 9 ter, rue Balliat, 92400 COURBEVOIE, France, inscrite au RCS de Nanterre sous le numéro 884 498 650 et ayant pour numéro de TVA intracommunautaire FR 46 884 498 650 (« JEU DE MAINS ») met à disposition une plateforme dédiée à la réservation d’ateliers créatifs Do It Yourself, accessible sous le lien www.jeudemains.com  à destination des particuliers agissant à titre non-professionnel (ci-après dénommée la «  Plateforme »).
      </p>
      <p>
        La Plateforme est conçue pour mettre en relation des Partenaires proposant des ateliers de Do It Yourself et les particuliers grâce à des services axés sur :
      </p>
      <ul>
        <li>La mise en relation entre le Partenaire et l’Utilisateur ;</li>
        <li>L’accès à des outils facilitant la réservation des Ateliers ;</li>
        <li>L’accès à des informations, actualités, conseils pratiques, et à la Newsletter Jeu de Mains ;</li>
        <li>La mise en place d’éventuelles offres promotionnelles (par exemple des bons de réduction) ;</li>
        <li>L’accès à un service client.</li>
      </ul>
      <p>
        La Plateforme a uniquement vocation à mettre en relation le Partenaire et l’Utilisateur. Elle ne doit en aucun cas se substituer à l'expertise professionnelle proposée par les Partenaires.
      </p>
    </div>

    <!-- ARTICLE 1 -->

    <div class="legal-paragraph">
      <h2>1 - DÉFINITIONS</h2>
      <p>
        Les termes commençant par une lettre majuscule ont la signification indiquée ci-dessous. Sauf indication contraire, les mots au singulier comprennent le pluriel et les mots au pluriel comprennent le singulier.
      </p>
      <p>
        <strong>« Atelier »</strong> désigne la prestation de services proposée par le Partenaire sur la Plateforme, et réalisée à la suite de la mise en relation avec l’Utilisateur via la Plateforme.
      </p>
      <p>
        <strong>« Animateur »</strong> désigne la personne physique ou morale éventuellement désignée par le Partenaire sur l’Annonce pour réaliser l’Atelier.
      </p>
      <p>
        <strong>« Annonce »</strong> désigne l'ensemble des éléments et données (visuelles, sonores, textuelles, photographies, dessins) de l’Atelier, déposés sur la Plateforme par un Partenaire.
      </p>
      <p>
        <strong>« Bénéficiaire »</strong> désigne le tiers, personne physique agissant à titre non-professionnel, âgé de 18 ans ou plus, bénéficiaire d’une Carte Cadeau utilisable sur la Plateforme.
      </p>
      <p>
        <strong>« Carte Cadeau »</strong> désigne la carte cadeau dématérialisée que peut offrir tout Utilisateur à un Bénéficiaire de son choix permettant au Bénéficiaire d’effectuer une réservation d’Atelier en tout ou partie.
      </p>
      <p>
        <strong>« Chat »</strong> désigne l’outil opéré par le partenaire de JEU DE MAINS Sendinblue mis à la disposition de l’Utilisateur sur la Plateforme afin de contacter JEU DE MAINS en temps réel.
      </p>
      <p>
        <strong>« Compte Utilisateur »</strong> désigne le compte que l’Utilisateur doit créer afin de réserver un Atelier, après acceptation des présentes Conditions Générales, et au sein duquel il a accès aux informations le concernant.
      </p>
      <p>
        <strong>« Conditions Générales »</strong> désigne les présentes conditions générales d’utilisation et de vente applicables à l'utilisation de tous les Services fournis sur la Plateforme.
      </p>
      <p>
        <strong>« Contenu Partenaire »</strong> désigne l'ensemble des droits d'auteur ou contenus protégés par un droit de propriété intellectuelle, documents, données et informations téléchargées par le Partenaire sur la Plateforme, y compris toute photo, écrit ou information concernant l’Atelier et la Page Partenaire, renseignés par le Partenaire sur la Plateforme.
      </p>
      <p>
        <strong>« Données à caractère personnel »</strong> signifie les données visées à l'article 4.1 du RGPD (Règlement 2016/679 du Parlement européen et du Conseil du 27 avril 2016, relatif à la protection des personnes physiques à l'égard du traitement des données à caractère personnel et à la libre circulation de ces données).
      </p>
      <p>
        <strong>« JEU DE MAINS »</strong> a le sens qui lui est donné au préambule des présentes Conditions Générales.
      </p>
      <p>
        <strong>« Kit »</strong> désigne le kit de produits nécessaire à la réalisation d’un Atelier en visioconférence avec kit qui sera livré à l’Utilisateur avant la réalisation de l’Atelier.
      </p>
      <p>
        <strong>« Partenaire »</strong> désigne la personne physique ou morale agissant à titre professionnel, partenaire de JEU DE MAINS, qui utilise la Plateforme pour mettre en ligne la (les) Annonce(s) en vue de la réalisation d’un Atelier auprès des Utilisateurs. Le Partenaire pourra indifféremment être appelé « Partenaire » ou « Organisateur » sur la Plateforme.
      </p>
      <p>
        <strong>« Page Partenaire »</strong> désigne la page de la Plateforme dédiée à la description du Partenaire, téléchargée par le Partenaire, indiquant son identité, ses coordonnées postales, téléphoniques et électroniques, et son activité. Elle pourra également et indifféremment être appelée « Profil » sur la Plateforme.
      </p>
      <p>
        <strong>« Plateforme »</strong> a le sens qui lui est donné au préambule des présentes Conditions Générales.
      </p>
      <p>
        <strong>« Services »</strong> désigne les services proposés par JEU DE MAINS, disponibles sur la Plateforme et soumis aux présentes Conditions Générales, tels que décrits à l'article 4.1 ci-dessous.
      </p>
      <p>
        <strong>« Utilisateur »</strong> désigne la personne physique agissant à titre non-professionnel, âgée de 18 ans ou plus, qui utilise la Plateforme aux fins d’utilisation des Services.
      </p>
    </div>

    <!-- ARTICLE 2 -->

    <div class="legal-paragraph">
      <h2>2 - CHAMP D’APPLICATION</h2>

      <p>
        Les présentes Conditions Générales régissent la mise en relation du Partenaire et de l’Utilisateur en vue de la participation à un Atelier et plus généralement l’Utilisation des Services par l’Utilisateur via la Plateforme.
      </p>
    </div>

    <!-- ARTICLE 3 -->

    <div class="legal-paragraph">
      <h2>3 - ACCEPTATION</h2>

      <p>
        L’utilisation de la Plateforme et des Services qui y sont proposés sont soumis à l’acceptation et au respect des présentes Conditions Générales.
      </p>
      <p>
        Le présent contrat est conclu pour une durée indéterminée à compter de l’acceptation des Conditions Générales par l’Utilisateur lors de son inscription.
      </p>
      <p>
        JEU DE MAINS se réserve la possibilité de faire évoluer à tout moment la Plateforme ainsi que les Conditions Générales, ou encore de compléter celles-ci par de nouvelles conditions contractuelles complémentaires. En cas de modification des Conditions Générales, JEU DE MAINS en informera l’Utilisateur en respectant un préavis d’un mois avant leur date d’application effective.
      </p>
      <p>
        En tout état de cause, la version des Conditions Générales applicable à l’Utilisateur sera la version acceptée par lui à la date la plus récente.
      </p>
      <p>
        Dans l’hypothèse où l’Utilisateur ne souhaite pas accepter tout ou partie des présentes Conditions Générales, il lui est demandé de renoncer à tout usage de la Plateforme.
      </p>
    </div>

    <!-- ARTICLE 4 -->

    <div class="legal-paragraph">
      <h2>4 - DESCRIPTION DES SERVICES</h2>

      <div class="legal-sub-paragraph">

        <h3>4.1 - Description des Services</h3>

        <p>
          La Plateforme est destinée à :
        </p>
        <ul>
          <li>
            Offrir des services de mise en relation entre le Partenaire et l’Utilisateur ;
          </li>
          <li>
            Offrir des outils facilitant la réservation des Ateliers ;
          </li>
          <li>
            Offrir un accès à des informations, actualités, conseils pratiques, et newsletter Jeu de Mains ;
          </li>
          <li>
            Offrir d’éventuelles offres promotionnelles (par exemple des bons de réduction, code promotionnels) ;
          </li>
          <li>
            Offrir un service client.
          </li>
        </ul>
        <p>
          (ensemble les « Services »).
        </p>
        <p>
          JEU DE MAINS met en relation l’Utilisateur et le Partenaire et n’agit qu’en tant qu’intermédiaire et ne fournit pas d’Ateliers. JEU DE MAINS se contente ainsi de mettre à leur disposition des outils et moyens techniques via la Plateforme, afin de leur fournir les Services.
        </p>
      </div>

      <div class="legal-sub-paragraph">
        <h3>4.2 - Conditions de référencement et de classement des Annonces des Partenaires</h3>

        <div class="legal-sub-sub-paragraph">
          <h4>4.2.1 - Conditions de référencement et de déréférencement des Annonces des Partenaires</h4>
          <p>
            JEU DE MAINS a sélectionné les Partenaires présents sur la Plateforme en prenant en compte notamment les critères non cumulatifs suivants :
          </p>
          <ul>
            <li>Compatibilité du Partenaire avec le ciblage et les catégories de la Plateforme ;</li>
            <li>Relation clients.</li>
          </ul>

          <p>
            JEU DE MAINS met à la disposition des Partenaires l’espace nécessaire pour la communication des informations préalables à la fourniture des Ateliers, notamment via (i) les Annonces et (ii) la Page Partenaire.
          </p>
          <p>
            Les Annonces sont publiées par JEU DE MAINS après vérification des informations fournies par le Partenaire.
          </p>
          <p>
            Les Annonces contiennent les informations suivantes :
          </p>
          <ul>
            <li>
              Nom et coordonnées du Partenaire,
            </li>
            <li>
              Adresse postale où se déroule l’Atelier,
            </li>
            <li>
              Prix,
            </li>
            <li>
              Date(s),
            </li>
            <li>
              Programme et description de l’Atelier (niveau, type d’Atelier, nombre de Participants, durée),
            </li>
            <li>
              réalisations, recettes et/ou matériel avec lesquels l’Utilisateur peut repartir à l’issue de             l’Atelier,
            </li>
            <li>
              Description brève de l’activité du Partenaire et lien de renvoi vers la Page Partenaire,
            </li>
            <li>
              Nom de l’Animateur si différent du Partenaire,
            </li>
            <li>
              En cas d’Atelier en visioconférence avec livraison d’un Kit : la description du kit, le délai de livraison du Kit et le coût de la livraison,
            </li>
            <li>
              Photos de l’atelier téléchargées par le Partenaire,
            </li>
            <li>
              Avis postés par les Utilisateurs ayant déjà participé à cet Atelier.
            </li>
          </ul>
          <p>
            Les relations commerciales entre les Partenaires et JEU DE MAINS sont régies par un contrat de marketplace qui précise les engagements auxquels les Partenaires sont tenus aux fins de proposer des Ateliers sur la Plateforme. En contrepartie de la mise à disposition par JEU DE MAINS de sa Plateforme, celle-ci perçoit une rémunération de la part du Partenaire.
          </p>
          <p>
            Les Annonces d’un Partenaire pourront être supprimées de la Plateforme, si celui-ci : <br>
            (i) Violait les Conditions Générales d’Utilisation Partenaire ou le contrat de Marketplace ; <br>
            (ii) Fermait son Compte Partenaire ; <br>
            (iii) Ne respectait pas ses obligations légales.
          </p>
        </div>

        <div class="legal-sub-sub-paragraph">
          <h4>4.2.2 - Conditions de classement des Annonces des Partenaires</h4>
          <p>
            La Plateforme offre plusieurs modalités de classement par défaut des Annonces :
          </p>
          <ul>
            <li>Par principe en aléatoire (page « Ateliers »)</li>
            <li>Selon la note attribuée à l’Atelier par les Utilisateurs dans l’onglet « Les Ateliers Favoris », de la meilleure note à la moins bonne ; Selon la date de l’Atelier dans l’onglet « C’est maintenant ou jamais ! », de la plus imminente à la plus lointaine.</li>
          </ul>
          <p>
            L’Utilisateur peut modifier ce classement en utilisant les critères de recherche qui lui sont proposés sur la Plateforme (ville, type d’Atelier, date de l’Atelier, prix, niveau, nombre de participants, disponibilité en visioconférence, ateliers éphémères).
          </p>
          <p>
            Le référencement des Annonces ne fait l’objet d’aucune rémunération de la part du Partenaire à JEU DE MAINS.
          </p>
        </div>
      </div>
    </div>

    <!-- ARTICLE 5 -->

    <div class="legal-paragraph">
      <h2>5 - ACCÈS AUX SERVICES</h2>

      <div class="legal-sub-paragraph">
        <h3>5.1 - Compte Utilisateur</h3>

        <p>Lors de la première connexion de l’Utilisateur sur la Plateforme, il sera demandé à l’Utilisateur d’accepter les présentes Conditions Générales et de créer un Compte Utilisateur.</p>
        <p>Pour la création d'un nouveau Compte Utilisateur, l’Utilisateur devra :</p>
        <ul>
          <li>Soit donner les informations suivantes :
            <ul>
              <li>son nom, prénom, et</li>
              <li>son adresse email.</li>
            </ul>
            L'identifiant sera une adresse e-mail du choix de l’Utilisateur et l’Utilisateur devra créer un nouveau mot de passe.
          </li>
          <li>
            Soit se connecter via son compte Google ou Facebook. En utilisant cette fonctionnalité, l’Utilisateur accepte que JEU DE MAINS accède aux données du compte Google ou Facebook nécessaires à la création du Compte Utilisateur. L’Utilisateur pourra à tout moment supprimer le droit d’accès de JEU DE MAINS à ces données via son compte Google ou Facebook. Toute nouvelle connexion à la Plateforme nécessitera alors la création d’un nouveau mot de passe.
          </li>
        </ul>
        <p>Les informations relatives au Compte Utilisateur sont accessibles via l'onglet "Mon Compte".</p>
        <p>L’Utilisateur garantit la véracité, l'exactitude et l'exhaustivité des informations fournies à JEU DE MAINS et sera seul responsable de toute erreur, omission et mise à jour. Il s'engage à mettre à jour rapidement les données et informations fournies lorsque cela est nécessaire.</p>
        <p>L’Utilisateur :</p>
        <ul>
          <li>
            accède à son Compte Utilisateur en utilisant un identifiant et un mot de passe qui sont personnels et restent sous sa garde;
          </li>
          <li>
            doit prendre toutes les précautions nécessaires pour assurer la confidentialité, la sécurité et l'utilisation correcte de l'identifiant et de son mot de passe, afin d'éviter qu'ils ne soient divulgués ou utilisés par des tiers non autorisés ; et
          </li>
          <li>
            est seul responsable de l'utilisation par toute autre personne de l'identifiant et du mot de passe de l’Utilisateur ainsi que de toutes les opérations effectuées via le Compte Utilisateur. Toute connexion au Compte Utilisateur et/ou transmission de données effectuée par l'intermédiaire du Compte Utilisateur sera réputée avoir été effectuée par le titulaire dudit Compte Utilisateur et sous la seule responsabilité de l’Utilisateur.
          </li>
        </ul>
        <p>En cas d'utilisation frauduleuse du mot de passe et/ou de la connexion de l’Utilisateur, ce dernier s'engage à en informer JEU DE MAINS par écrit dans les meilleurs délais.</p>
        <p>L’Utilisateur peut supprimer son Compte Utilisateur à tout moment en contactant JEU DE MAINS à l’adresse contact@jeudemains.com ou directement en ligne sur son Compte Utilisateur. Il ne pourra dès lors plus se connecter sur la Plateforme.</p>
      </div>
      <div class="legal-sub-paragraph">
        <h3>5.2 - Accessibilité et contenu de la Plateforme</h3>

        <p>JEU DE MAINS fera ses meilleurs efforts afin de permettre un accès à la Plateforme et aux Services 24 heures sur 24 et 7 jours sur 7. L’Utilisateur reconnait cependant que l'accès aux Services peut être suspendu à tout moment, pour des raisons de maintenance, de mise à jour, ou en cas d'une défaillance quelle qu'elle soit. JEU DE MAINS fera ses meilleurs efforts pour informer l’Utilisateur en avance de toute interruption substantielle de la Plateforme.</p>
        <p>JEU DE MAINS se réserve le droit de déterminer à sa seule et entière discrétion le contenu et l'organisation de la Plateforme, ses fonctionnalités, ainsi que d'ajouter ou supprimer de nouvelles fonctionnalités ou Services à tout moment.</p>
      </div>
      <div class="legal-sub-paragraph">
        <h3>5.3 - Utilisation du Chat</h3>

        <p>JEU DE MAINS propose un Chat opéré via son partenaire Sendinblue permettant à l’Utilisateur de la contacter directement.</p>
        <p>Si JEU DE MAINS n’est pas disponible au moment de l’utilisation du Chat par l’Utilisateur, celui-ci sera invité à indiquer son adresse email de contact permettant à JEU DE MAINS de recontacter l’Utilisateur ultérieurement. Cette adresse email sera uniquement utilisée à cette fin par JEU DE MAINS.</p>
      </div>
    </div>

    <!-- ARTICLE 6 -->

    <div class="legal-paragraph">
      <h2>6 - MISE EN RELATION DU PARTENAIRE ET DE L’UTILISATEUR</h2>

      <div class="legal-sub-paragraph">
        <h3>6.1 - Entrée en relation</h3>

        <p>L’accès à l’Annonce et/ou à la Page Partenaire donne automatiquement accès à l’Utilisateur à certaines informations du Partenaire. JEU DE MAINS ne fournit pas de messagerie permettant une prise de contact immédiate entre l’Utilisateur et le Partenaire via la Plateforme.</p>
        <p>Dans l'hypothèse où l’Utilisateur souhaiterait obtenir des informations supplémentaires sur l’Atelier, il pourra en faire la demande directement via le Chat ou la page « Nous Contacter » de JEU DE MAINS.</p>
      </div>
      <div class="legal-sub-paragraph">
        <h3>6.2 - Réservation d’un Atelier</h3>

        <p>L’Utilisateur peut réserver un Atelier sur la Plateforme, en choisissant l’Atelier, le nombre de places et la session (date et heure de début) de l’Atelier.</p>
        <p>Le nombre de places restantes est indiqué sur l’Annonce. A défaut de places restantes disponibles, l’Atelier sera indiqué comme « Complet » et l’Utilisateur ne pourra plus réserver l’Atelier à cette date.</p>
        <p>Au moment de la réservation, l’Utilisateur devra renseigner :</p>
        <ul>
          <li>son numéro de téléphone mobile, uniquement utilisé pour informer l’Utilisateur en cas d’annulation par le Partenaire par sms ou appel téléphonique ;</li>
          <li>en cas de réservation d’un Atelier en visioconférence avec livraison d’un Kit : son adresse postale, uniquement utilisée pour la livraison du Kit.</li>
        </ul>
        <p>
          En cliquant sur « Je confirme mes coordonnées », l’Utilisateur garantit la véracité et l’exactitude de ces informations et sera seul responsable de toute erreur, omission et mise à jour. Il s'engage à mettre à jour rapidement les données et informations fournies sur son Compte Utilisateur lorsque cela est nécessaire.
        </p>
        <p>
          En cliquant sur le bouton « Procéder au paiement » lors du processus de réservation, vérifié sa réservation et le cas échéant, l’avoir modifié, l’Utilisateur déclare accepter sans réserve les présentes Conditions Générales.
        </p>
        <p>
          Après avoir à nouveau confirmé le contenu de sa réservation en cliquant sur « Payer » (double clic) et ainsi accepté son obligation de paiement de la réservation, l’Utilisateur validera définitivement sa réservation par son paiement effectif.
        </p>
        <p>
          La réservation ne sera valide et enregistrée qu’à compter du paiement du prix de l’Atelier dans les conditions prévues à l’article 8 ci-dessous.
        </p>
        <p>
          L’Utilisateur est informé de l’acceptation de la réservation par l’envoi d’un email de confirmation de la réservation reprenant les éléments essentiels de sa réservation, qui confirme la conclusion du contrat de prestations de services entre le Partenaire et l’Utilisateur.
        </p>
        <p>
          Une fois la réservation confirmée, les données de la réservation resteront accessibles à l’Utilisateur dans la rubrique « Mes réservations » de la Plateforme.
        </p>
        <p>
          Toutes questions relatives à l’Atelier pourront être envoyées à JEU DE MAINS, via le Chat, dans la rubrique « Nous contacter », ou à l’adresse email contact@jeudemains.com, ou au Partenaire organisateur de l’Atelier par téléphone au numéro de téléphone indiqué sur l’Annonce et dans l’email de confirmation de réservation de l’Atelier.
        </p>
      </div>

      <div class="legal-sub-paragraph">
        <h3>6.3 - Déroulement de l’Atelier</h3>
        <p>
          Pour les Ateliers en présentiel, le Partenaire et l’Utilisateur se rencontreront au lieu et à l’heure convenue pour la réalisation de l’Atelier. Tout retard de l’Utilisateur supérieur à 15 minutes après le début de l’Atelier pourra, à la discrétion du Partenaire et afin de ne pas déranger le bon déroulement de l’Atelier, donner lieu à un refus de participation de l’Utilisateur par le Partenaire.
        </p>
        <p>
          Pour les Ateliers en visioconférence, à la date de l’Atelier réservé, l’Utilisateur recevra un email de confirmation de l’Atelier et quelques jours avant l’Atelier un email informatif de la part du Partenaire avec un lien d’accès à l’Atelier en visioconférence. Si un Kit est nécessaire pour la réalisation de l’Atelier, le Partenaire est seul responsable de l’expédition du Kit.
        </p>
        <p>
          Le Partenaire communiquera toute information utile au bon déroulement de l’Atelier préalablement à celui-ci, en ce compris les mesures de sécurité ou d’hygiène.
        </p>
        <p>
          L’Utilisateur s’engage à respecter les directives imposées par le Partenaire, en ce compris les mesures de sécurité et d’hygiène. L’Utilisateur s’engage à être attentif et vigilant aux consignes lors de l’Atelier pour garantir son bon déroulement et à adopter une attitude respectueuse vis-à-vis du Partenaire et des autres participants. En cas de comportement inapproprié ou de manquement aux obligations précitées, le Partenaire pourra décider d’exclure l’Utilisateur, sans qu’un remboursement ne puisse ultérieurement être réclamé par l’Utilisateur.
        </p>
        <p>
          Le Partenaire ne fournit aucune garantie quant au résultat de la réalisation obtenue lors ou à l’issue de l’Atelier. Le Partenaire et l’Utilisateur sont seuls responsables du bon déroulement des Ateliers, en ce compris du respect des mesures d’hygiène et de sécurité, et ne sauraient imputer ou transférer tout ou partie de cette responsabilité à JEU DE MAINS, sur quelque fondement que ce soit.
        </p>
      </div>
    </div>

    <!-- ARTICLE 7 -->

    <div class="legal-paragraph">
      <h2>7 - CARTES CADEAUX</h2>
      <p>
        Tout Utilisateur inscrit sur la Plateforme peut offrir une Carte Cadeau au Bénéficiaire de son choix, dont la vente et les conditions d’utilisation sont régies par les présentes Conditions Générales, via la rubrique « Offrir une Carte Cadeau ». Il pourra se rétracter dans les conditions prévues à l’Article 11.
      </p>
      <p>
        La Carte Cadeau a une valeur comprise entre 20 et 150 euros T.T.C, correspondant à son prix de vente, au choix de l’Utilisateur. L’Utilisateur procède au paiement dans les conditions prévues à l’Article 8 ci-dessous.
      </p>
      <p>
        A l’issue de l’achat, l’Utilisateur recevra un email de confirmation récapitulatif en reprenant ses éléments essentiels et notamment le code d’activation de la Carte Cadeau et le PDF de la Carte Cadeau à offrir en pièce jointe.
      </p>
      <p>
        La Carte Cadeau a une durée de douze (12) mois à compter de sa date d’achat. A l’issue de la période de validité, la Carte Cadeau ne pourra plus être utilisée. Le solde restant sur la Carte Cadeau sera alors perdu. La Carte Cadeau ne sera, par ailleurs, ni renouvelée, ni échangée.
      </p>
      <p>
        La Carte Cadeau devra être activée par le Bénéficiaire en indiquant le code d’activation indiqué sur celle-ci. Le Bénéficiaire devra créer un Compte Utilisateur afin de pouvoir entrer le code d’activation et effectuer une réservation. Pour connaître le montant ou le solde restant sur la Carte Cadeau, le Bénéficiaire peut se rendre dans son espace « Mes Cartes Cadeaux » sur la Plateforme.
      </p>
      <p>
        La Carte Cadeau peut être utilisée comme moyen de paiement, en une ou plusieurs fois, pendant sa durée de validité, uniquement pour payer une réservation d’Atelier effectuée sur la Plateforme et dans la limite de son montant ou du solde restant.
      </p>
      <p>
        Une seule Carte Cadeau peut être utilisée par réservation d’Atelier.
      </p>
      <p>
        Si le solde de la Carte Cadeau n’est pas suffisant pour couvrir le montant de la réservation, le Bénéficiaire peut compléter par un autre moyen de paiement dans les conditions prévues à l’Article 8 ci-dessous.
      </p>
      <p>
        En cas d’annulation de la réservation réglée en tout ou partie avec la Carte Cadeau, le remboursement sera effectué sur la Carte Cadeau qui sera automatiquement re-créditée, dans la limite de la somme initialement réglée par ce même moyen de paiement. Dans le cas où la durée de validité de la Carte Cadeau aurait expiré au moment du remboursement, la Carte Cadeau sera réactivée pour une durée de un (1) mois.
      </p>
      <p>
        La Carte Cadeau ne peut être ni échangée, cédée, ou revendue, et ne pourra donner lieu à aucune contrepartie monétaire.
      </p>
      <p>
        En cas de difficulté d’utilisation de la Carte Cadeau ou en cas de réclamation, le Bénéficiaire pourra contacter JEU DE MAINS via le Chat, dans la rubrique « Nous contacter », ou à l’adresse contact@jeudemains.com.
      </p>
    </div>

    <!-- ARTICLE 8 -->

    <div class="legal-paragraph">
      <h2>8 - CONDITIONS FINANCIÈRES</h2>

      <div class="legal-sub-paragraph">
        <h3>8.1 - Prix</h3>

        <p>
          Les prix des Ateliers sont déterminés par les Partenaires et incluent la rémunération de JEU DE MAINS en contrepartie de la mise en relation et, le cas échéant, le prix du Kit et des frais de livraison. Les prix sont indiqués par personne sur l’Annonce. La totalité du montant de la réservation, qui dépend du nombre de places sélectionnées, est confirmé au moment de la réservation.
        </p>
        <p>
          Les prix indiqués sur la Plateforme et dans l'accusé de réception par voie électronique de la commande ou réservation s'entendent toutes taxes comprises.
        </p>
        <p>
          JEU DE MAINS agissant en tant que mandataire, les factures correspondant aux Ateliers seront émises par JEU DE MAINS au nom et pour le compte du Partenaire.
        </p>
      </div>

      <div class="legal-sub-paragraph">
        <h3>8.2 - Moyens de paiements</h3>
        <p>
          JEU DE MAINS met à la disposition de l’Utilisateur une plateforme de paiement multicanal indépendante opérée par son partenaire Stripe via la fonctionnalité Stripe Connect, sur laquelle l’Utilisateur procède au paiement.
        </p>
        <p>
          Seuls les moyens de paiement suivants sont acceptés : cartes bancaires (MasterCard, VISA, Carte Bleue), Carte Cadeau.
        </p>
        <p>
          La commande ou la réservation n’est définitivement enregistrée qu’après validation par l’Utilisateur de son accord de paiement et acceptation par la banque de la transaction.
        </p>
        <p>
          JEU DE MAINS se réserve le droit de refuser toute commande ou réservation d’un Utilisateur pour motif légitime, conformément à l’article L. 121-11 du Code de la consommation.
        </p>
      </div>
    </div>

    <!-- ARTICLE 9 -->

    <div class="legal-paragraph">
      <h2>9 - LIVRAISON DES KITS</h2>
      <p>
        Les Kits sont livrés exclusivement en France métropolitaine.
      </p>
      <p>
        Le Partenaire s’engage à envoyer le Kit dans les meilleurs délais à compter de la date de réservation, et en tout état de cause, à livrer le Kit à l’adresse indiquée par l’Utilisateur au plus tard la veille de la date de l’Atelier.
      </p>
      <p>
        Dans le cas où la livraison serait rendue impossible en raison d’une erreur sur l’adresse indiquée par l’Utilisateur, le Partenaire contactera l’Utilisateur le plus rapidement possible afin d’obtenir une nouvelle adresse de livraison et les éventuels frais de livraison supplémentaires seront à la charge de l’Utilisateur.
      </p>
      <p>
        En cas de retard de livraison, si l’Atelier a été rendu impossible à défaut de Kit, le Partenaire s’engage à proposer, au choix du consommateur : (i) de rembourser la totalité du prix de l’Atelier, dès lors que l’Utilisateur aura indiqué sa volonté d’annuler l’envoi du Kit, ou (ii) à proposer une nouvelle date d’Atelier.
      </p>
      <p>
        Le Partenaire ne pourra être tenu responsable des retards de livraison pour des motifs qui échappent à son contrôle, indépendants de sa volonté, imprévisibles et irrésistibles ou dont la faute ne peut lui être imputable. Dans ce cas, le Partenaire et l’Utilisateur s’engagent à collaborer pour trouver une solution alternative (renvoi du Kit, réservation de l’Atelier à une date ultérieure, remboursement, …).
      </p>
    </div>

    <!-- ARTICLE 10 -->

    <div class="legal-paragraph">
      <h2>10 - AVIS</h2>

      <div class="legal-sub-paragraph">
        <h3>10.1 - Publication d’un avis et délai de publication et de conservation</h3>
        <p>
          L’Utilisateur ayant participé à un Atelier peut publier des avis concernant l’Atelier sur la Plateforme. Les avis sont constitués d’une note et d’un commentaire :
        </p>
        <ul>
          <li>
            La note est donnée par l’Utilisateur sous forme d’attribution « d’étoiles ». La note minimum est de 1 (une) étoile et la note maximum est de 5 (cinq) étoiles.
          </li>
          <li>
            Le commentaire est l’appréciation du niveau de satisfaction de la prestation du Partenaire, de l’Atelier, la réaction et l’interaction avec le Partenaire, la qualité de l’Atelier.
          </li>
        </ul>
        <p>
          Aucune rémunération ni aucun avantage ne sont accordés aux Utilisateurs en échange de la publication d’un avis.
        </p>
        <p>
          Tout avis sera publié et conservé pour la durée pendant laquelle le Partenaire est présent sur la Plateforme. Par ailleurs, tout auteur d’un avis peut supprimer celui-ci via son Compte Utilisateur.
        </p>
      </div>

      <div class="legal-sub-paragraph">
        <h3>10.2 - Modération et classement des avis</h3>
        <p>
          JEU DE MAINS s’engage à contrôler régulièrement les avis mis en ligne par les Utilisateurs. Le contrôle des avis vise à éviter que ceux-ci contiennent des informations trompeuses ou mensongères, des propos diffamants, violents, racistes, sexistes, homophobes ou offensants ou s’ils sont susceptibles de porter atteinte aux droits de tiers. Tout avis présentant l’une de ces caractéristiques pourra être rejeté par JEU DE MAINS. L’auteur de l’avis sera informé des raisons de son rejet.
        </p>
        <p>
          Les avis sont classés, sur l’Annonce de l’Atelier concerné, par ordre chronologique, du plus récent au plus ancien.
        </p>
      </div>

      <div class="legal-sub-paragraph">
        <h3>10.3 - Signalement des avis</h3>
        <p>
          Il n’est pas possible pour les Utilisateurs de contacter l’auteur d’un avis via la Plateforme.
        </p>
        <p>
          Tout Utilisateur peut signaler gratuitement à JEU DE MAINS tout avis qui lui semblerait contraire à la présente rubrique directement sur la Plateforme ou par e-mail à l'adresse suivante : contact@jeudemains.com.
        </p>
        <p>
          De même, le Partenaire qui a réalisé un Atelier faisant l’objet d’un avis peut adresser gratuitement à JEU DE MAINS un signalement motivé s’il a un doute sur l’authenticité de cet Avis.
        </p>
        <p>
          JEU DE MAINS prendra alors connaissance du signalement et pourra décider de supprimer l’avis litigieux. Dans cette hypothèse, JEU DE MAINS informera l’auteur de l’avis concerné des motifs de suppression de l’avis, par email à l’adresse renseignée par l’Utilisateur lors de la création de son Compte. L’Utilisateur pourra alors formuler ses observations en réponse, auxquelles JEU DE MAINS répondra.
        </p>
      </div>
    </div>

    <!-- ARTICLE 11 -->

    <div class="legal-paragraph">
      <h2>11 - DROIT DE RETRACTATION – ANNULATION</h2>

      <div class="legal-sub-paragraph">
        <h3>11.1 - Droit de rétractation de l’Utilisateur</h3>

        <div class="legal-sub-sub-paragraph">
          <h4>11.1.1 - Durée légale de rétractation</h4>
          <p>
            Pour les réservations d’Atelier, en tant que prestation de service d’activité de loisirs pouvant être fournie à une date ou à une période déterminée, l’Utilisateur reconnait qu’il ne bénéficie pas de droit de rétractation conformément aux dispositions de l’article L. 221-28, 12° du Code de la consommation.
          </p>
          <p>
            Pour toute commande de Carte Cadeau, l’Utilisateur dispose d’un délai légal de 14 (quatorze) jours francs à compter du lendemain du jour de la commande de Carte Cadeau pour exercer son droit de rétractation sans avoir à justifier de motifs ni à payer de pénalités. Le délai commence à courir au début de la première heure du premier jour et prend fin à l'expiration de la dernière heure du dernier jour du délai. Si ce délai de 14 jours expire un samedi, un dimanche ou un jour férié ou chômé, il est prorogé jusqu'au premier jour ouvrable suivant.
          </p>
        </div>

        <div class="legal-sub-sub-paragraph">
          <h4>11.1.2 - Modalités de rétractation</h4>
          <p>
            La décision de rétractation de l’achat d’une Carte Cadeau doit être notifiée à JEU DE MAINS au moyen d’une déclaration dénuée d’ambigüité, dans les délais susvisés :
          </p>
          <ul>
            <li>Soit par email à l’adresse contact@jeudemains.com ;</li>
            <li>Soit par courrier à l’adresse 9 ter, rue Balliat, 92400 COURBEVOIE, France.</li>
          </ul>
          <p>
            L’Utilisateur a, sans obligation, la possibilité d’utiliser le formulaire-type fourni à la fin des présentes Conditions Générales et de l'envoyer par courrier ou par email aux adresses susvisées.
          </p>
        </div>
      </div>

      <div class="legal-sub-paragraph">
        <h3>11.2 - Annulation de la réservation d’Atelier proposée par JEU DE MAINS</h3>
        <p>
          JEU DE MAINS offre la possibilité à l’Utilisateur d’annuler sa réservation d’Atelier, dans les conditions suivantes :
        </p>

        <table class="table cgv-refund-table table-bordered">
          <tbody>
            <tr>
              <td>
                Pour toute annulation jusqu'à trois jours calendaires avant la date de l’Atelier en présentiel ou de l’Atelier visioconférence sans livraison d’un Kit
              </td>
              <td rowspan="2" class="cgv-refund-conditions">
                <strong>Remboursement intégral ou choix d’une nouvelle date de session parmi celles proposées pour le même Atelier</strong>
              </td>
            </tr>
            <tr>
              <td>
                Pour toute annulation jusqu’à sept jours calendaires avant la date de l’Atelier en visioconférence avec livraison d’un Kit
              </td>
            </tr>
          </tbody>
        </table>

        <table class="table cgv-refund-table table-bordered">
          <tbody>
            <tr>
              <td>
                Pour toute annulation dans les trois jours calendaires avant la date de l’Atelier en présentiel ou de l’Atelier visioconférence sans livraison d’un Kit et plus de vingt-quatre heures avant l’Atelier
              </td>
              <td rowspan="2" class="cgv-refund-conditions">
                <strong>Remboursement partiel (50% du Prix de l’Atelier)</strong>
              </td>
            </tr>
            <tr>
              <td>
                Pour toute annulation dans les sept jours calendaires avant la date de l’Atelier en visioconférence avec livraison d’un Kit et plus de vingt-quatre heures avant l’Atelier
              </td>
            </tr>
          </tbody>
        </table>

        <table class="table cgv-refund-table table-bordered">
          <tbody>
            <tr>
              <td>
                Annulation moins de vingt-quatre heures avant
              </td>
              <td class="cgv-refund-conditions">
                <strong>Sans remboursement</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="legal-sub-paragraph">
        <h3>11.3 - Conditions de rétractation ou d’annulation</h3>
        <p>
          JEU DE MAINS adressera à l’Utilisateur au plus tôt un accusé de réception de ladite rétractation ou annulation par courrier électronique.
        </p>
        <p>
          Lorsque le droit de rétractation légal est exercé, ou lorsqu’un remboursement est prévu dans les conditions d’annulation prévues par JEU DE MAINS, JEU DE MAINS rembourse à l’Utilisateur les sommes versées lors de la commande de Carte Cadeau ou de réservation de l’Atelier, dans les meilleurs délais et au plus tard dans les 14 (quatorze) jours suivant la date à laquelle JEU DE MAINS est informée de la décision de l’Utilisateur de se rétracter.
        </p>
        <p>
          Le cas échéant, JEU DE MAINS effectue le remboursement en utilisant le même moyen de paiement que celui utilisé par l’Utilisateur pour la transaction initiale, sauf accord exprès de l’Utilisateur pour l’utilisation d’un autre moyen de paiement et dans la mesure où le remboursement n’occasionne pas de frais pour l’Utilisateur.
        </p>
      </div>
      <div class="legal-sub-paragraph">
        <h3>11.4 - Annulation par le Partenaire</h3>
        <p>
          Dans la situation exceptionnelle où le Partenaire devait annuler un Atelier, l’Utilisateur en sera immédiatement informé par email par JEU DE MAINS. Il pourra alors choisir entre une nouvelle date d’Atelier parmi celles proposées sur la Plateforme par le PARTENAIRE ou le remboursement intégral de sa réservation.
        </p>
        <p>
          Si l’annulation par le Partenaire intervient la veille ou le jour de l’Atelier, le Partenaire pourra accéder au numéro de téléphone mobile renseigné lors de la réservation de l’Atelier à l’unique fin d’informer l’Utilisateur par SMS ou par téléphone.
        </p>
      </div>
    </div>

    <!-- ARTICLE 12 -->

    <div class="legal-paragraph">
      <h2>12 - GARANTIES</h2>

      <div class="legal-sub-paragraph">
        <h3>12.1 - Garantie concernant les Services</h3>
        <p>
          JEU DE MAINS ne fournit aucune garantie commerciale concernant les Services.
        </p>
      </div>

      <div class="legal-sub-paragraph">
        <h3>12.2 - Garanties concernant la Carte Cadeau et les Kits</h3>
        <p>
          La loi française accorde à l’Utilisateur ayant acheté une Carte Cadeau ou un Kit en lien avec un Atelier en visioconférence, en tant que Consommateur les garanties légales suivantes. JEU DE MAINS, pour les Cartes Cadeaux et le Partenaire, pour les Kits, sont donc tenus des défauts de conformité du bien au contrat dans les conditions des articles L.217-4 et suivants du Code de la consommation (Garantie légale de conformité) et des défauts cachés de la chose vendue dans les conditions prévues aux articles 1641 et suivants du code civil (Garantie légale des vices cachés).
        </p>
        <p>
          L'acheteur pourra exercer ces garanties en adressant sa demande à JEU DE MAINS, à l’adresse visée en préambule, pour les Cartes Cadeaux, et au Partenaire, à l’adresse indiquée sur la Page Partenaire, pour les Kits.
        </p>

        <div class="legal-sub-sub-paragraph">
          <h4>12.2.1 - Garantie de conformité</h4>
          <p>
            Vous disposez d'un délai de deux (2) ans après la livraison du bien pour agir sur la base de la garantie de conformité.
          </p>
          <p>
            En cas de défaut, vous pouvez demander à JEU DE MAINS de réparer ou de remplacer le bien, conformément à l'article L. 217-9 du Code de la consommation. JEU DE MAINS ou le Partenaire peuvent néanmoins choisir de ne pas procéder conformément à votre choix si ce choix entraîne un coût manifestement disproportionné au regard de l’autre modalité, compte tenu de la valeur du bien ou de l’importance du défaut.
          </p>
          <p>
            Si la réparation ou le remplacement du bien n'est pas possible, vous pouvez choisir entre une réduction du prix d'un montant approprié ou la résiliation du contrat, conformément à l'article L. 217-10 du code de la consommation français.
          </p>
          <p>
            Pendant la période de 24 mois suivant la livraison des biens, vous ne serez pas tenu de prouver l'existence du défaut.
          </p>
          <p>
            Cette garantie légale de conformité s’applique indépendamment de la garantie commerciale éventuellement consentie.
          </p>
        </div>

        <div class="legal-sub-sub-paragraph">
          <h4>12.2.2 - Garantie des vices cachés</h4>
          <p>
            Vous pouvez également exercer la garantie des vices cachés définie à l'article 1641 du code civil.
          </p>
          <p>
            En application de l'article 1641 du code civil, le vendeur est tenu de la garantie à raison des défauts cachés de la chose vendue qui la rendent impropre à l'usage auquel on la destine, ou qui diminuent tellement cet usage que l'acheteur ne l'aurait pas acquise, ou n'en aurait donné qu'un moindre prix, s'il les avait connus.
          </p>
          <p>
            Dans cette hypothèse, l’acheteur peut choisir entre la résolution de la vente ou une réduction du prix de vente conformément à l’article 1644 du code civil.
          </p>
          <p>
            En application de l'article 1648 alinéa 1 du code civil, l'action résultant des vices rédhibitoires doit être intentée par l'acquéreur dans un délai de deux ans à compter de la découverte du vice.
          </p>
        </div>
      </div>
    </div>

    <!-- ARTICLE 13 -->

    <div class="legal-paragraph">
      <h2>13 - RÉCLAMATIONS</h2>
      <p>
        Toute réclamation relative aux Services, se fera par l’Utilisateur auprès de JEU DE MAINS sur le Chat, dans la rubrique « Nous contacter », ou par courrier électronique à l’adresse suivante : contact@jeudemains.com.
      </p>
      <p>
        Toute réclamation relative à l’Atelier ou à un Partenaire pourra être effectuée soit directement auprès du Partenaire directement sur son site internet, soit sur le Chat ou dans la rubrique « Nous contacter » ou par courrier électronique à l’adresse suivante : contact@jeudemains.com.
      </p>
      <p>
        Le service client de JEU DE MAINS est ouvert de 9h30 à 18h30, jours ouvrés uniquement.
      </p>
      <p>
        Dans l'hypothèse où la réclamation relative à un Atelier ou à un Partenaire serait effectuée auprès de JEU DE MAINS, JEU DE MAINS en informera le Partenaire concerné afin qu’il puisse respecter ses obligations vis-à-vis de l’Utilisateur. Le Partenaire reste le seul maître du traitement de la réclamation et des solutions à proposer pour y remédier.
      </p>
      <p>
        Par ailleurs, l’Utilisateur bénéficie du droit de contacter le médiateur de la consommation auquel le Partenaire aurait adhéré.
      </p>
    </div>

    <!-- ARTICLE 14 -->

    <div class="legal-paragraph">
      <h2>14 - RESPONSABILITÉ</h2>

      <div class="legal-sub-paragraph">
        <h3>14.1 - Responsabilité de JEU DE MAINS</h3>

        <div class="legal-sub-sub-paragraph">
          <h4>14.1.1 - Utilisation de la Plateforme</h4>
          <p>
            JEU DE MAINS ne garantit pas l'accessibilité permanente de la Plateforme et des Services, ce que l’Utilisateur reconnaît et accepte. Une interruption de la Plateforme et/ou de tout ou partie des Services est possible dans les conditions prévues aux présentes Conditions Générales.
          </p>
          <p>
            JEU DE MAINS n'encourt aucune responsabilité en cas d'indisponibilité de la Plateforme et/ou de toute ou partie des Services en raison de tout défaut, problème ou raison technique ne résultant ni de sa violation des présentes Conditions Générales ni de ses obligations légales, notamment par exemple l'encombrement du trafic sur Internet, la défaillance des fournisseurs d'accès à Internet, l’erreur humaine ou électrique d’un tiers autre que son sous-traitant, une intervention malveillante que JEU DE MAINS ne pouvait éviter par des mesures raisonnables, un dysfonctionnement logiciel ou matériel de l’Utilisateur et/ou un cas de force majeure.
          </p>
          <p>
            Enfin, JEU DE MAINS ne peut être tenue pour responsable de toute inexécution ou mauvaise exécution de ses obligations telles que prévues aux présentes Conditions Générales qui soit imputable (i) au fait du Partenaire, (ii) au fait de l’Utilisateur lui-même, ou (iii) au fait, imprévisible et insurmontable d'un tiers au contrat, ou (iv) à un cas de force majeure, tel que défini à l’article 1218 du Code civil.
          </p>
        </div>

        <div class="legal-sub-sub-paragraph">
          <h4>14.1.2 - Contenu mis en ligne par JEU DE MAINS</h4>
          <p>
            Des articles contenant des informations et des conseils relatifs aux Ateliers ou au Do It Yourself peuvent être mis en ligne sur la Plateforme, notamment via la Newsletter. Ces informations et conseils sont fournis à titre de premières recommandations et ne peuvent en aucun cas remplacer l'expertise, le jugement et les recommandations des Partenaires.
          </p>
          <p>
            JEU DE MAINS ne peut être tenue responsable si les informations ou conseils semblent inadéquats ou si un Atelier ou les conseils proposés lors des Ateliers ne sont pas conformes aux informations et conseils fournis sur la Plateforme ou via son Chat.
          </p>
        </div>

        <div class="legal-sub-sub-paragraph">
          <h4>14.1.3 - Rôle de mise en relation</h4>
          <p>
            Les Utilisateurs reconnaissent et acceptent que la responsabilité de JEU DE MAINS est limitée à son rôle d'opérateur de plateforme en ligne et se limite à la mise en relation entre le Partenaire et l’Utilisateur.
          </p>
          <p>
            JEU DE MAINS ne participe en aucun cas à la conclusion ou à l’exécution du contrat de prestation de services entre le PARTENAIRE matérialisé par les présentes Conditions Générales, l’Annonce et l’Utilisateur, en ce compris du déroulement des Ateliers et ne pourra être tenu responsable à ce titre, de quelque manière que ce soit.
          </p>
        </div>

        <div class="legal-sub-sub-paragraph">
          <h4>14.1.4 - Liens Hypertextes</h4>
          <p>
            La Plateforme peut contenir des liens vers des services et des sites web tiers, notamment les sites des Partenaires (désignés collectivement, « Sites Liés »). Les Sites Liés ne sont pas sous le contrôle de JEU DE MAINS et JEU DE MAINS n’est pas responsable des Sites Liés ni des informations ou des documents qui se trouvent sur un Site Lié, et ce quel que soit le mode de transmission choisi ayant permis leur réception.
          </p>
          <p>
            L’inclusion d’un lien n’implique pas le cautionnement par JEU DE MAINS du Site Lié ou toute autre association avec les gestionnaires dudit Site Lié. JEU DE MAINS n’enquête, ne vérifie ni n’assure la surveillance des Sites Liés. JEU DE MAINS fournit des liens vers les Sites Liés pour des raisons pratiques uniquement. L’Utilisateur accède aux Sites Liés à ses risques et périls.
          </p>
        </div>
      </div>

      <div class="legal-sub-paragraph">
        <h3>14.2 - Responsabilités du Partenaire ou de l’Utilisateur</h3>

        <div class="legal-sub-sub-paragraph">
          <h4>14.2.1 - Responsabilité du Partenaire</h4>
          <p>
            Le Partenaire est seul responsable (a) de l'exactitude et de la fiabilité du contenu publié sur sa Page Partenaire et de l’Annonce téléchargés sur la Plateforme, (b) de tout dommage direct et/ou indirect subi par un Utilisateur ou un tiers suite à toute information fournie sur la Plateforme, ou préalablement ou lors de la réalisation de l’Atelier, et (c) du bon déroulement de l’Atelier.
          </p>
          <p>
            A ce titre, le Partenaire engage également sa responsabilité pour toutes les conséquences dommageables résultant des actions, omissions, fautes, erreurs, défaillances et négligences qu’il commettrait au titre de l’exécution du contrat de prestation de services, et notamment de l’organisation de l’Atelier, de ses suites, ou conséquences. En aucun cas, il ne saurait imputer ou transférer toute ou partie de cette responsabilité à JEU DE MAINS.
          </p>
        </div>

        <div class="legal-sub-sub-paragraph">
          <h4>14.2.2 - Responsabilité de l’Utilisateur</h4>
          <p>
            L’Utilisateur est seul responsable (a) de la décision de s'inscrire sur la Plateforme et/ou d'utiliser les Services ; et (b) de l'exécution de ses propres obligations résultant de la réservation de l’Atelier et des présentes Conditions Générales.
          </p>
          <p>
            L’Utilisateur s'engage à ne pas se livrer à des actes ou comportements de quelque nature que ce soit (notamment mais sans que cette liste ne soit exhaustive, téléchargement, envoi, diffusion, édition, émission, publication) qui seraient contraires à la loi française, porteraient atteinte à l'ordre public français, aux droits des tiers, ou à l'image ou aux droits de JEU DE MAINS.
          </p>
        </div>
      </div>
    </div>

    <!-- ARTICLE 15 -->

    <div class="legal-paragraph">
      <h2>15 - PROPRIÉTÉ INTELLECTUELLE</h2>
      <p>
        Tous les droits de propriété intellectuelle relatifs à la Plateforme et à son contenu (textes, images, vidéos, charte graphique, bases de données, sons, photographies, noms commerciaux, logos, marques, etc.), à l'exclusion du Contenu Partenaire, sont et restent la propriété de JEU DE MAINS, ou sont soumis à des licences et/ou autorisations qui lui sont accordées par des tiers. Leur copie, reproduction, utilisation ou extraction sans autorisation est strictement interdite.
      </p>
      <p>
        L’Utilisateur est uniquement autorisé à utiliser la Plateforme et son contenu conformément aux Conditions Générales. L’Utilisateur ne peut pas reproduire, mettre à disposition du public, exécuter, publier ou modifier toute partie de la Plateforme et de son contenu sans l'accord écrit préalable de JEU DE MAINS.
      </p>
    </div>

    <!-- ARTICLE 16 -->

    <div class="legal-paragraph">
      <h2>16 - PROTECTION DES DONNÉES À CARACTÈRE PERSONNEL</h2>
      <p>
        Dans le cadre de l’utilisation des Services, il sera demandé à l’Utilisateur d'enregistrer certaines Données à caractère personnel le concernant qui sont indispensables à la réservation de l’Atelier ou à l’envoi des offres promotionnelles ou une newsletter, s’il y a consenti (notamment son prénom, son nom, son adresse électronique, son numéro de téléphone et, en cas d’envoi d’un Kit, son adresse postale), dans les conditions précisées dans les présentes Conditions Générales.
      </p>
      <p>
        JEU DE MAINS traitera lesdites Données à caractère personnel conformément à sa Politique de confidentialité accessible ici https://www.jeudemains.com/politique-de-confidentialite.
      </p>
      <p>
        En application des dispositions de la loi n°78-17 Informatique et Libertés du 6 janvier 1978 modifiée et du Règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016, chaque Utilisateur dispose d'un droit d'accès, de modification, de rectification, de portabilité et de suppression des données le concernant. Il peut ainsi exiger que soient rectifiées, complétées, clarifiées, mises à jour ou effacées les données à caractère personnel le concernant qui sont inexactes, incomplètes, équivoques ou périmées. Chaque Utilisateur peut également s’opposer, pour des motifs légitimes, au traitement des données le concernant.
      </p>
    </div>

    <!-- ARTICLE 17 -->

    <div class="legal-paragraph">
      <h2>17 - MÉDIATION</h2>
      <p>
        Conformément aux dispositions en vigueur du Code de la consommation relatif à la médiation des litiges de consommation, JEU DE MAINS offre aux Utilisateurs un recours effectif à un dispositif de médiation de la consommation pour tout litige relatif aux Services.
      </p>
      <p>
        Le médiateur proposé par JEU DE MAINS est SAS Médiation Solution. Dans les cas où JEU DE MAINS serait incapable de résoudre un différend en utilisant sa procédure interne de résolution des litiges ou si l’Utilisateur n'est pas satisfait de la solution proposée par le service client de JEU DE MAINS, et si la plainte de l’Utilisateur a été formée il y a moins d’un an, l’Utilisateur peut adresser sa réclamation à SAS Médiation Solution par :
      </p>
      <ul>
        <li>voie postale à l’adresse : 222 Chemin de la Bergerie, 01800 Saint Jean de Niost ;</li>
        <li>voie électronique en cliquant sur https://www.sasmediationsolution-conso.fr ou via l’email contact@sasmediationsolution-conso.fr</li>
      </ul>
      <p>
        En toutes hypothèses JEU DE MAINS :
      </p>
      <ul>
        <li>fera part à l’Utilisateur de son incapacité à résoudre le litige qui les oppose, et</li>
        <li>fournira à ce moment-là les informations prévues par la loi concernant son médiateur, y compris ses coordonnées, telles qu'exposées ci-dessus.</li>
      </ul>
      <p>
        Les Utilisateurs peuvent également utiliser la plateforme de résolution des litiges en ligne afin de résoudre le litige les opposant à JEU DE MAINS via :  https://webgate.ec.europa.eu/odr/main/?event=main.home.show&lng=FR.
      </p>
    </div>

    <!-- ARTICLE 18 -->

    <div class="legal-paragraph">
      <h2>18 - DISPOSITIONS FINALES</h2>

      <div class="legal-sub-paragraph">
        <h3>18.1 - Indépendance des clauses</h3>
        <p>
          Si une partie quelconque des présentes Conditions Générales devait s'avérer nulle, invalide ou inapplicable pour quelque raison que ce soit, le terme ou les termes en question seraient déclarés inexistants et les termes restants garderaient toute leur force et leur portée et continueraient à être applicables. Les termes déclarés inexistants seraient alors remplacés par les termes qui se rapprocheront le plus du contenu et du sens de la clause annulée.
        </p>
      </div>

      <div class="legal-sub-paragraph">
        <h3>18.2 - Indivisibilité</h3>
        <p>
          Le fait que JEU DE MAINS ne se prévale pas à un moment donné de l'une quelconque des stipulations des présentes Conditions Générales, et/ou d'un manquement par l’Utilisateur ou le Partenaire à l'une quelconque de ses obligations contractuelles ne peut pas être interprété comme valant renonciation par JEU DE MAINS à se prévaloir ultérieurement desdites clauses et/ou obligations contractuelles.
        </p>
      </div>

      <div class="legal-sub-paragraph">
        <h3>18.3 - Indépendance des parties</h3>
        <p>
          JEU DE MAINS et l’Utilisateur sont des personnes indépendantes, agissant en leur propre nom et sous leur seule responsabilité.
        </p>
      </div>

      <div class="legal-sub-paragraph">
        <h3>18.4 - Droit applicable et tribunal compétent</h3>
        <p>
          JEU DE MAINS et l’Utilisateur sont des personnes indépendantes, agissant en leur propre nom et sous leur seule responsabilité.
        </p>
        <p>Les présentes Conditions Générales sont régies par la loi française.</p>
        <p>Tout litige (y compris avant-dire droit) sera du ressort des tribunaux français désignés comme compétents en application du Code de la consommation. Ainsi, en application de l’article R. 631-3 du Code de la Consommation, l’Utilisateur peut saisir à son choix, outre l'une des juridictions territorialement compétentes en vertu du code de procédure civile, la juridiction du lieu où il demeurait au moment de la conclusion du contrat ou de la survenance du fait dommageable.</p>
      </div>
  </div>
</div>


