<!DOCTYPE HTML>

<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>cgv-jeu-de-mains-<%= Date.today.strftime("%d-%m-%y") %></title>
    <style type="text/css">
      @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Raleway:wght@500;600;700&display=swap');

      body {
        background-color: white;
        font-family: "Raleway", Helvetica, sans-serif;
      }

      h1, h2, h3, h4 {
        font-family: "Montserrat", Helvetica, sans-serif;
      }

      h1 {
        font-size: 24px;
        color: #235B6A;
      }

      h2 {
        font-size: 20px;
        color: #235B6A;
      }

      h3 {
        font-size: 18px;
      }

      p {
        text-align: justify;
      }

    </style>
  </head>

  <body>
    <h1>Conditions générales de vente de Jeu de Mains</h1>
  </body>

</html>
