<% content_for :meta_title, "Jeu de Mains | Entreprises - Demande envoyée" %>

<div class="entreprises-banner">
  <div class="entreprises-title">
    <h1>Jeu de Mains pour les entreprises</h1>
    <h2>Quand le Do it Yourself devient le Do it Together !</h2>
  </div>
</div>

<div class='entreprises-container' id="entreprises-container-thanks">
  <div class="entreprises-form-thank-you">
    <h3>Demande envoyée</h3>
    <p>Merci, votre demande a bien été envoyée.</p>
    <p>Nous vous contacterons dans les meilleurs délais.</p>
    <p>À bientôt !</p>
    </div>
      <%= link_to root_path, class: "contact-us-link-to-root" do %>
        <span>Retour à la page d'accueil</span>
        <i class="fas fa-chevron-right"></i>
      <% end %>
  </div>
</div>

