<div class="homebanner", id="homebanner-margintop", style="background-image: url(<%= image_path "homebanner-image-1.jpg" %>)">
  <h1 class="col-6 ml-5">Détendez-vous, apprenez et rencontrez grâce aux ateliers créatifs près de chez vous</h1>
</div>
