<% content_for :meta_title, "Jeu de Mains | Politique de confidentialité" %>

<div class="legal-container">
  <div class="legal-title mb-2">
    <h1>Politique de Confidentialité</h1>
  </div>
  <div class="legal-content">

    <div class="legal-paragraph">
      <p>
        Jeu de Mains (ci-après « nous », « Jeu de Mains ») est une plateforme de réservation d’ateliers créatifs mettant en relation des partenaires organisateurs (ci-après « Partenaires ») d’ateliers et des clients particuliers (ci-après « Clients ») souhaitant réserver des ateliers créatifs. À des fins de fonctionnement de la plateforme, nous collectons et utilisons avec précaution les informations des utilisateurs (ci-après « Utilisateurs ») de www.jeudemains.com (ci-après « le Site ») dans le respect de leur vie privée et la protection de leurs données personnelles. <br><br>
        La présente politique de confidentialité décrit les données à caractère personnel (ci-après « Données Personnelles ») que nous recueillerons et leur utilisation, ainsi que les cookies que nous utilisons, et le cas échéant :
      </p>
      <ol>
        <li>Les données personnelles que nous recueillerons</li>
        <li>Comment les données personnelles sont recueillies</li>
        <li>Qui a accès aux données recueillies</li>
        <li>Les droits des utilisateurs du site</li>
      </ol>
    </div>

    <div class="legal-paragraph">
      <h2>Lois applicables</h2>
      <p>Conformément au Règlement général sur la protection des données personnelles (RGPD), cette politique de confidentialité est conforme aux règlements suivants.</p>
      <p>Les données à caractère personnel doivent être :</p>
      <ol>
        <li>Traitées de manière licite, loyale et transparente au regard de la personne concernée (licéité, loyauté, transparence) ;</li>
        <li>Collectées pour des finalités déterminées, explicites et légitimes, et ne pas être traitées ultérieurement d'une manière incompatible avec ces finalités; le traitement ultérieur à des fins archivistiques dans l'intérêt public, à des fins de recherche scientifique ou historique ou à des fins statistiques n'est pas considéré, conformément à l'article 89, paragraphe 1, comme incompatible avec les finalités initiales (limitation des finalités) ;</li>
        <li>Adéquates, pertinentes et limitées à ce qui est nécessaire au regard des finalités pour lesquelles elles sont traitées (minimisation des données) ;</li>
        <li>Exactes et, si nécessaire, tenues à jour; toutes les mesures raisonnables doivent être prises pour que les données à caractère personnel qui sont inexactes, eu égard aux finalités pour lesquelles elles sont traitées, soient effacées ou rectifiées sans tarder (exactitude) ;</li>
        <li>Conservées sous une forme permettant l'identification des personnes concernées pendant une durée n'excédant pas celle nécessaire au regard des finalités pour lesquelles elles sont traitées; les données à caractère personnel peuvent être conservées pour des durées plus longues dans la mesure où elles seront traitées exclusivement à des fins archivistiques dans l'intérêt public, à des fins de recherche scientifique ou historique ou à des fins statistiques conformément à l'article 89, paragraphe 1, pour autant que soient mises en œuvre les mesures techniques et organisationnelles appropriées requises par le règlement afin de garantir les droits et libertés de la personne concernée (limitation de la conservation) ;</li>
        <li>Traitées de façon à garantir une sécurité appropriée des données à caractère personnel, y compris la protection contre le traitement non autorisé ou illicite et contre la perte, la destruction ou les dégâts d'origine accidentelle, à l'aide de mesures techniques ou organisationnelles appropriées (intégrité et confidentialité).</li>
      </ol>
      <p>Le traitement n'est licite que si, et dans la mesure où, au moins une des conditions suivantes est remplie :</p>
      <ol>
        <li>La personne concernée a consenti au traitement de ses données à caractère personnel pour une ou plusieurs finalités spécifiques ;</li>
        <li>Le traitement est nécessaire à l'exécution d'un contrat auquel la personne concernée est partie ou à l'exécution de mesures précontractuelles prises à la demande de celle-ci ;</li>
        <li>Le traitement est nécessaire au respect d'une obligation légale à laquelle le responsable du traitement est soumis ;</li>
        <li>Le traitement est nécessaire à la sauvegarde des intérêts vitaux de la personne concernée ou d'une autre personne physique ;</li>
        <li>Le traitement est nécessaire à l'exécution d'une mission d'intérêt public ou relevant de l'exercice de l'autorité publique dont est investi le responsable du traitement ;</li>
        <li>Le traitement est nécessaire aux fins des intérêts légitimes poursuivis par le responsable du traitement ou par un tiers, à moins que ne prévalent les intérêts ou les libertés et droits fondamentaux de la personne concernée qui exigent une protection des données à caractère personnel, notamment lorsque la personne concernée est un enfant.</li>
      </ol>
    </div>

    <div class="legal-paragraph">
      <h2>Consentement</h2>
      <p>Les utilisateurs conviennent qu’en utilisant notre site, ils consentent à :</p>
      <ul>
        <li>les conditions énoncées dans la présente politique de confidentialité et</li>
        <li>la collecte, l’utilisation et la conservation des données énumérées dans la présente politique.</li>
      </ul>
    </div>

    <div class="legal-paragraph">
      <h2>Pourquoi des données personnelles vous concernant sont-elles collectées ?</h2>
      <p>
        Jeu de Mains peut être amenée à collecter et traiter des données déclaratives, des données comportementales de ses clients, de ses prospects et des utilisateurs du site internet et des données d’interaction avec ces derniers (ci-après prises dans leur ensemble « Données Personnelles »). <br>
        Ces Données Personnelles dans le cadre de l’utilisation du Site font l’objet de traitements aux fins suivantes :
      </p>
      <ul>
        <li>Lorsque vous créez donc un Compte Utilisateur ;</li>
        <li>Lorsque vous réservez un atelier ;</li>
        <li>Lorsque vous souscrivez à la Newsletter de Jeu de Mains ;</li>
        <li>Lorsque nous réalisons des mesures d’audience de consultation de nos sites internet.</li>
      </ul>
      <p>
        Jeu de Mains ne collecte que les données adéquates, pertinentes et limitées à ce qui est nécessaire au regard des objectifs pour lesquels elles sont traitées. <br>
        Ces objectifs sont spécifiques et légitimes et, en aucun cas, vos données ne seront traitées ultérieurement d’une manière incompatible avec ces finalités, sauf à recueillir votre accord préalable.
      </p>
    </div>

    <div class="legal-paragraph">
      <h2>Quelles sont les données personnelles que nous collectons ?</h2>
      <p>
        Jeu de Mains ne collecte que les données adéquates, pertinentes et limitées à ce qui est nécessaire au regard des objectifs pour lesquels elles sont traitées. <br>
        Elle peut être amenée à collecter et traiter des Données aux fins d’atteindre une finalité spécifique, et notamment les Données déclaratives renseignées par vos soins dans le formulaire de Compte Utilisateur et des Données comportementales issues de l’activité de l’internaute sur les Sites.
      </p>
      <div class="legal-sub-paragraph">
        <h3>Données déclaratives</h3>
        <p>
          Nous pouvons collecter les données suivantes lorsque vous effectuez certaines fonctions sur notre site :
        </p>
        <ul>
          <li>Cas de la création d’un Compte Utilisateur : l’adresse e-mail, le nom et le prénom, informations d’authentification, date d’inscription, preuve du consentement aux Conditions Générales du Site ;</li>
          <li>Cas de la souscription à la Newsletter : l’adresse e-mail ;</li>
          <li>Cas de la réservation d’Atelier : le numéro de téléphone pour joindre le Client en cas d’annulation de l’Atelier par le Partenaire moins de quarante-huit heures avant l’atelier ;</li>
          <li>Cas de la réservation d’Atelier en visioconférence avec kit : l’adresse postale pour l’expédition du kit créatif ;</li>

        </ul>
      </div>
      <div class="legal-sub-paragraph">
        <h3>Données automatiques avec consentement aux cookies</h3>

        <ul>
          <li>Suivi comportemental via les cookies : Informations de navigation (Adresse IP, sites consultés, pages/contenus consultés…)</li>
        </ul>
      <p>Veuillez noter que nous ne collectons que les données qui nous aident à atteindre l’objectif énoncé dans cette politique de confidentialité. Nous ne recueillerons pas de données supplémentaires sans vous en informer au préalable.</p>
      </div>
    </div>
    <div class="legal-paragraph">
      <h2>Comment utilisons-nous les données personnelles ?</h2>
      <p>
        Les données personnelles recueillies sur notre Site seront utilisées uniquement aux fins précisées dans la présente politique ou indiquées sur les pages pertinentes de notre site. Nous n’utiliserons pas vos données au-delà de ce que nous divulguerons. <br>
        Les données sont partagées de manière limitée avec les Partenaire afin d’assurer le bon fonctionnement du Site.
      </p>
      <p>
        Jeu de Mains s’engage à encadrer contractuellement toute transmission de Données aux Partenaires afin que ces derniers se conforment à la réglementation en vigueur. Il est précisé que les Partenaires agiront en tant que responsable de traitement indépendant et que, de ce fait, Jeu de Mains n’est pas responsable du traitement de vos Données mis en œuvre par ses Partenaires les Données transmises.
      </p>
      <p>
        Nous nous engageons à ne pas vendre ou partager vos données avec des tiers, sauf dans les cas suivants :
      </p>
      <ol>
        <li>Si la loi l'exige</li>
        <li>Si elle est requise pour toute procédure judiciaire</li>
        <li>Pour prouver ou protéger nos droits légaux</li>
      </ol>
      <p>
        Si vous suivez des hyperliens de notre site vers un autre site, veuillez noter que nous ne sommes pas responsables et n’avons pas de contrôle sur leurs politiques et pratiques de confidentialité.
      </p>
    </div>
    <div class="legal-paragraph">
      <h2>Combien de temps stockons-nous vos données personnelles ?</h2>
      <p>
        En fonction de la finalité du traitement, la durée de conservation des Données Personnelles est susceptible de varier. Sauf dispositions légales impératives, Jeu de Mains conserve les Données Personnelles pour la durée nécessaire à la réalisation de la finalité poursuivie. Les Données Personnelles seront ainsi conservées pour la période pendant laquelle vous utilisez nos Services.
      </p>
    </div>
    <div class="legal-paragraph">
      <h2>Sécurité de vos données personnelles</h2>
      <p>
        Alors que nous prenons toutes les précautions raisonnables pour nous assurer que nos données d’utilisateurs sont sécurisées et que les utilisateurs sont protégés, il reste toujours du risque de préjudice. L’Internet en sa totalité peut être, parfois, peu sûr et donc nous sommes incapables de garantir la sécurité des données des utilisateurs au-delà de ce qui est raisonnablement pratique. <br><br>
        Les Données Personnelles étant confidentielles, Jeu de Mains limite leur accès aux seuls collaborateurs de la société ou prestataires en ayant besoin dans le cadre de l’exécution du traitement.
      </p>
    </div>

    <div class="legal-paragraph">
      <h2>Cookies</h2>
      <p>
        Nous utilisons des cookies et d'autres technologies de suivi pour améliorer votre expérience de navigation sur notre site, pour vous montrer un contenu personnalisé et des publicités ciblées, pour analyser le trafic de notre site et pour comprendre la provenance de nos visiteurs.
      </p>
      <p>
        Les cookies sont de très petits fichiers texte qui sont stockés sur votre ordinateur lorsque vous visitez un site. Nous utilisons des cookies à diverses fins et pour améliorer votre expérience en ligne sur notre Site (par exemple, pour mémoriser les informations de connexion de votre compte).
      </p>
      <p>
        Vous pouvez modifier vos préférences et refuser l'enregistrement de certains types de cookies sur votre ordinateur lors de la navigation sur notre site. Vous pouvez également supprimer les cookies déjà stockés sur votre ordinateur, mais gardez à l'esprit que leur suppression peut vous empêcher d'utiliser des éléments de notre Site.
      </p>

      <div class="legal-sub-paragraph">
        <h3>Cookies strictement nécessaires</h3>
        <p>
          Ces cookies sont essentiels pour vous fournir les services disponibles sur notre Site et vous permettre d’utiliser certaines fonctionnalités de notre Site. <br>
          Sans ces cookies, nous ne pouvons pas vous fournir certains services sur notre Site. <br>
          Parmi les cookies nécessaires : la boîte de discussion en bas à droite de notre Site par SendinBlue et l’outil de consentement aux cookies délivré par FreePrivacyPolicy.com
        </p>
      </div>
      <div class="legal-sub-paragraph">
        <h3>Cookies de suivi et de performance</h3>
        <p>
         Ces cookies sont utilisés pour collecter des informations permettant d'analyser le trafic sur notre site et la manière dont les visiteurs utilisent notre site. <br>
          Par exemple, ces cookies peuvent suivre des choses telles que le temps que vous passez sur le Site ou les pages que vous visitez, ce qui nous aide à comprendre comment nous pouvons améliorer notre Site pour vous. <br>
          Les informations collectées via ces cookies de suivi et de performance n'identifient aucun visiteur en particulier. Nous utilisons la solution Google Analytics.
        </p>
      </div>
    </div>

    <div class="legal-paragraph">
      <h2>Stripe</h2>
      <p>
        Nous faisons appel à un prestataire de services de paiement tiers, Stripe et son service Stripe Connect, afin de traiter tous les paiements que vous effectuez sur le Site. Jeu de Mains ne conserve pas les données des cartes de crédit et confie ce processus à Stripe. Jeu de Mains a accès sur son tableau de bord Stripe Connect à des informations limitées telles que les quatre derniers chiffres de la carte de crédit utilisée pour une transaction, le pays de délivrance et la date d'expiration. Le traitement de ces données personnelles est décrit dans la politique de confidentialité de Stripe consultable ici : stripe.com/privacy
      </p>
    </div>

    <div class="legal-paragraph">
      <h2>Vos droits en tant qu’utilisateur</h2>
      <p>En vertu du RGPD, les utilisateurs ont les droits suivants en tant que personnes concernées :</p>
      <ol>
        <li>Droit d'accès</li>
        <li>Droit de rectification</li>
        <li>Droit à l'effacement</li>
        <li>Droit de restreindre le traitement</li>
        <li>Droit à la portabilité des données</li>
        <li>Droit d’objection</li>
      </ol>
      <p>
        Vous trouverez de plus amples informations sur ces droits au chapitre 3 (art 12-23) du RGPD.
      </p>
      <p>
        Si vous souhaitez que vos renseignements soient supprimés ou modifiés d’une façon ou d’une autre, veuillez accéder à la rubrique « mon compte » une fois connecté ou communiquer avec notre agent de protection de la vie privée ici : Eugénie Coisne Denis • contact@jeudemains.com
      </p>
    </div>

    <div class="legal-paragraph">
      <h2>Modification</h2>
      <p>
        Cette politique de confidentialité peut être modifiée à l’occasion afin de maintenir la conformité avec la loi et de tenir compte de tout changement à notre processus de collecte de données. Nous recommandons à nos utilisateurs de vérifier notre politique de temps à autre pour s’assurer qu’ils soient informés de toute mise à jour. En cas de modification importante, nous vous en informerons également par e-mail au minimum trente jours avant la date d'entrée en vigueur de la nouvelle version de la Politique de Confidentialité. Si vous n'approuvez pas les nouvelles conditions, nous vous invitons à supprimer votre Compte. Passée la date d’entrée en vigueur, si vous conservez votre Compte, votre utilisation du Site sera soumise à la nouvelle Politique de confidentialité.
      </p>
    </div>

    <div class="legal-paragraph">
      <h2>Nous contacter</h2>
      <p>Le responsable du traitement de vos données est Jeu de Mains, 9ter, rue Baliat, 92400, Courbevoie, France. Vous pouvez nous contacter en nous écrivant à cette adresse postale ou par e-mail à <%= link_to "contact@jeudemains.com", "mailto:contact@jeudemains.com" %></p>
    </div>

  </div>

</div>
