<% content_for :meta_title, "Jeu de Mains | Politique de confidentialité" %>

<div class="legal-container">
  <div class="legal-title mb-2">
    <h1>Politique de Confidentialité</h1>
  </div>

  <div class="legal-content">
    <div class="legal-paragraph">
      <p>En cours de rédaction</p>
    </div>
  </div>
</div>
