<div class="legal-container">
  <div class="legal-title mb-2">
    <h1>Référencement et classement des annonces et avis</h1>
  </div>

  <div class="legal-content">
    <div class="legal-paragraph">
      <h2>1 - Conditions de référencement et de classement des Annonces</h2>

      <div class="legal-sub-paragraph">
        <h3>1.1 - Conditions de référencement et de déréférencement des Annonces des Partenaires</h3>
        <p>
          JEU DE MAINS a sélectionné les Partenaires présents sur la Plateforme en prenant en compte notamment les critères non cumulatifs suivants :
        </p>
        <ul>
          <li>Compatibilité du Partenaire avec le ciblage et les catégories de la Plateforme ;</li>
          <li>Relation clients.</li>
        </ul>

        <p>
          JEU DE MAINS met à la disposition des Partenaires l’espace nécessaire pour la communication des informations préalables à la fourniture des Ateliers, notamment via (i) les Annonces et (ii) la Page Partenaire.
        </p>
        <p>
          Les Annonces sont publiées par JEU DE MAINS après vérification des informations fournies par le Partenaire.
        </p>
        <p>
          Les Annonces contiennent les informations suivantes :
        </p>
        <ul>
          <li>
            Nom et coordonnées du Partenaire,
          </li>
          <li>
            Adresse postale où se déroule l’Atelier,
          </li>
          <li>
            Prix,
          </li>
          <li>
            Date(s),
          </li>
          <li>
            Programme et description de l’Atelier (niveau, type d’Atelier, nombre de Participants, durée),
          </li>
          <li>
            réalisations, recettes et/ou matériel avec lesquels l’Utilisateur peut repartir à l’issue de             l’Atelier,
          </li>
          <li>
            Description brève de l’activité du Partenaire et lien de renvoi vers la Page Partenaire,
          </li>
          <li>
            Nom de l’Animateur si différent du Partenaire,
          </li>
          <li>
            En cas d’Atelier en visioconférence avec livraison d’un Kit : la description du kit, le délai de livraison du Kit et le coût de la livraison,
          </li>
          <li>
            Photos de l’atelier téléchargées par le Partenaire,
          </li>
          <li>
            Avis postés par les Utilisateurs ayant déjà participé à cet Atelier.
          </li>
        </ul>
        <p>
          Les relations commerciales entre les Partenaires et JEU DE MAINS sont régies par un contrat de marketplace qui précise les engagements auxquels les Partenaires sont tenus aux fins de proposer des Ateliers sur la Plateforme. En contrepartie de la mise à disposition par JEU DE MAINS de sa Plateforme, celle-ci perçoit une rémunération de la part du Partenaire.
        </p>
        <p>
          Les Annonces d’un Partenaire pourront être supprimées de la Plateforme, si celui-ci : <br>
          (i) Violait les Conditions Générales d’Utilisation Partenaire ou le contrat de Marketplace ; <br>
          (ii) Fermait son Compte Partenaire ; <br>
          (iii) Ne respectait pas ses obligations légales.
        </p>
      </div>

      <div class="legal-sub-paragraph">
        <h3>1.2 - Conditions de classement des Annonces</h3>
        <p>
          La Plateforme offre plusieurs modalités de classement par défaut des Annonces :
        </p>
        <ul>
          <li>Par principe en aléatoire (page « Ateliers »)</li>
          <li>Selon la note attribuée à l’Atelier par les Utilisateurs dans l’onglet « Les Ateliers Favoris », de la meilleure note à la moins bonne ; Selon la date de l’Atelier dans l’onglet « C’est maintenant ou jamais ! », de la plus imminente à la plus lointaine.</li>
        </ul>
        <p>
          L’Utilisateur peut modifier ce classement en utilisant les critères de recherche qui lui sont proposés sur la Plateforme (ville, type d’Atelier, date de l’Atelier, prix, niveau, nombre de participants, disponibilité en visioconférence, ateliers éphémères).
        </p>
        <p>
          Le référencement des Annonces ne fait l’objet d’aucune rémunération de la part du Partenaire à JEU DE MAINS.
        </p>
      </div>
    </div>

    <div class="legal-paragraph">
      <h2>2 - Conditions de publication et classement des Avis</h2>

      <div class="legal-sub-paragraph">
        <h3>2.1 - Publication d’un Avis et délai de publication et de conservation</h3>
        <p>
          L’Utilisateur ayant participé à un Atelier peut publier des avis concernant l’Atelier sur la Plateforme. Les avis sont constitués d’une note et d’un commentaire :
        </p>
        <ul>
          <li>
            La note est donnée par l’Utilisateur sous forme d’attribution « d’étoiles ». La note minimum est de 1 (une) étoile et la note maximum est de 5 (cinq) étoiles.
          </li>
          <li>
            Le commentaire est l’appréciation du niveau de satisfaction de la prestation du Partenaire, de l’Atelier, la réaction et l’interaction avec le Partenaire, la qualité de l’Atelier.
          </li>
        </ul>
        <p>
          Aucune rémunération ni aucun avantage ne sont accordés aux Utilisateurs en échange de la publication d’un avis.
        </p>
        <p>
          Tout avis sera publié et conservé pour la durée pendant laquelle le Partenaire est présent sur la Plateforme. Par ailleurs, tout auteur d’un avis peut supprimer celui-ci via son Compte Utilisateur.
        </p>
      </div>

      <div class="legal-sub-paragraph">
        <h3>2.2 - Modération et classement des avis</h3>
        <p>
          JEU DE MAINS s’engage à contrôler régulièrement les avis mis en ligne par les Utilisateurs. Le contrôle des avis vise à éviter que ceux-ci contiennent des informations trompeuses ou mensongères, des propos diffamants, violents, racistes, sexistes, homophobes ou offensants ou s’ils sont susceptibles de porter atteinte aux droits de tiers. Tout avis présentant l’une de ces caractéristiques pourra être rejeté par JEU DE MAINS. L’auteur de l’avis sera informé des raisons de son rejet.
        </p>
        <p>
          Les avis sont classés, sur l’Annonce de l’Atelier concerné, par ordre chronologique, du plus récent au plus ancien.
        </p>
      </div>
    </div>
  </div>
</div>

