<% content_for :meta_title, "Jeu de Mains | Devenir Partenaire - Formulaire envoyé" %>

<% if params[:partner][:company].present? %>

  <div class="become-partner-banner">
    <div class="become-partner-title">
      <h1>Vous organisez des ateliers créatifs en présentiel ou en visio ?</h1>
      <h2>Ensemble, faisons briller le Do It Yourself !</h2>
    </div>
  </div>

  <div class='become-partner-container'>

    <h3 class="become-partner-subtitle">Formulaire envoyé !</h3>
    <div class="become-partner-thanks">
      <p>Nous vous remercions pour votre demande d'inscription partenaire !<br>Nous traiterons dans les meilleurs délais votre demande et reprendrons rapidement contact avec vous pour finaliser votre inscription et vous présenter l'interface <em>Partenaire</em> de Jeu de Mains.</p>
    </div>
  </div>
<% end %>
