<style type="text/css">
  .mailer-footer {
    display: none;
  }
</style>

<p>Bonjour,</p>

<p>
  Nous vous remercions pour votre message et vous confirmons sa bonne réception.<br>
  Nous faisons notre possible pour vous répondre dans les meilleurs délais.<br>
  Pour ajouter des informations supplémentaires, n'hésitez pas à répondre à cet e-mail.
</p>

<p>
  Belle journée,<br>
  Votre service client Jeu de Mains.<br>
  À bientôt sur <%= link_to "jeudemains.com", root_url, target: "_blank" %> !
</p>

<img alt="jeu de mains" src="https://res.cloudinary.com/jeudemains/image/upload/v1602490393/logo-bleu-fonce-jeu-de-mains.png" style="height: auto; width: 100%; max-width: 120px;" title="jeu de mains" width="120"/>



