<style type="text/css">
  .mailer-footer {
    display: none;
  }
</style>

<p>Bonjour <%= @profile.user.first_name %>,</p>

<p>Nous sommes ravis de vous accueillir parmi nos partenaires Jeu de Mains ! <br>Nous vous informons que votre profil partenaire a bien été créé. <br>Afin de le finaliser, nous aurions besoin de :</p>

<ul>
  <li>Un <strong>extrait de KBIS</strong></li><br>
  <li>Une <strong>photo de profil</strong> pour votre page dédiée <i>Partenaire</i> (exemple : votre logo, votre portrait...), format jpg ou png / max 1.5 Mo</li><br>
  <li>Une <strong>petite présentation</strong> de quelques lignes de votre entreprise pour votre page dédiée <i>Partenaire</i></li><br>
  <% if @profile.instagram.nil? %>
    <li>Le lien vers votre <strong>compte instagram</strong> public si vous en avez un</li><br>
  <% end %>
  <% if @profile.website.nil? %>
    <li>Le lien vers votre <strong>site internet</strong> si vous en avez un</li><br>
  <% end %>
</ul>

<p>En parallèle vous avez reçu un e-mail de notre part, via <i>SmallPdf</i>, qui vous permet de lire et signer électroniquement le <strong>contrat Partenaire</strong>. <br>Une fois le contrat signé vous pourrez le télécharger de votre côté et nous le recevrons automatiquement aussi dans notre boîte e-mail.</p>

<p>Merci de nous envoyer ces documents et informations en réponse à ce mail ;) <br>Nous vous enverrons ensuite les accès à votre compte <i>Partenaire</i> !<br>N'hésitez surtout pas si vous avez des questions ou souhaitez convenir d'un appel téléphonique !</p>
<p>À très vite !</p>
<p><strong>L'équipe Jeu de Mains</strong></p>
<br>

<img alt="jeu de mains" src="https://res.cloudinary.com/jeudemains/image/upload/v1602490393/logo-bleu-fonce-jeu-de-mains.png" style="height: auto; width: 100%; max-width: 120px;" title="jeu de mains" width="120"/>
