// ADD TO AGENDA BUTTON FOR MY BOOKINGS

.add-to-calendar-modal {
  .modal-dialog {
    display: flex;
    justify-content: center;
  }
  .close {
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 360px;
    padding: 15px;
    p {
      font-size: 15px;
      font-weight: 600;
      color: $dark-blue;
      text-align: center;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    .modal-body {
      display: flex;
      flex-direction: column;
      padding: unset;
    }
    a {
      display: flex;
      align-items: center;
      margin-bottom: 17px;
      span {
        margin-right: 8px;
        font-size: 14px;
        font-weight: 600;
        color: $dark-gray;
      }
      img {
        padding-top: unset;
      }
    }
    a:hover {
      span {
        color: $blue;
        text-decoration: none;
      }
    }
  }
}
