.alert {
  position: fixed;
  padding: 0.75rem 0.9rem;
  top:87px;
  right: 0px;
  z-index: 1000;
  font-weight: 500;
  font-size: 15px;
  color: $dark-gray;
  border: none;
  border-radius: unset;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0.3rem 0.5rem 0px;
  background-color: white;
  max-width: 400px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.alert-dismissible {
  padding-right: 3rem;
}

.alert-info {
  i {
  font-size: 17px;
  color: #1bd6a7;
  }
}

.alert-warning {
  i {
  font-size: 17px;
  color: $flashy-red;
  }
}

.alert-danger {
  i {
  font-size: 17px;
  color: $flashy-red;
  }
}

.alert-success {
  i {
  font-size: 17px;
  color: #1bd6a7;
  }
}

.close {
  font-size: 28px;
  font-weight: 400;
  line-height: 0.65;
  outline: none;
  opacity: 1;
  color: $dark-gray !important;
}

.close:hover {
  outline: none;
  color: black;
}

.close:focus {
  outline: none;
}


// RESPONSIVE ALERT //

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .alert {
    top: 66px;
    font-size: 14px;
    max-width: 315px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px)  {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px)  {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
