.homebanner {
  background-size: cover;
  background-position: center;
  height: 650px;
  margin-top: -6em;

  h1 {
    padding-top: 5em;
    color: white;
    font-weight: 600;
    font-size: 2em;
  }
}
