.homebanner {
  background-size: cover;
  background-position: center;
  height: 36em;
  margin-top: -6em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 4em;

}

.homebanner-title {
  margin-left: 5em;
  width: 30%;
  h1 {
    color: $white;
    font-weight: 600;
    font-size: 2em;
    text-align: left;
  }
  h2 {
    color: $white;
    font-size: 1.2em;
    margin-bottom: 7em;
    font-weight: 500;
  }
}

// RESPONSIVE BANNER //

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .homebanner {
    padding: 0;
    height: 40em;
    justify-content: center;
  }
  .homebanner-title {
    margin-left: 0;
    margin-top: 3em;
    margin-bottom: 1em;
    padding: 0 1.5em;
    width: 90%;
    h1 {
      font-size: 1.4em;
    }
    h2 {
      display: none;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 765px) {
  .homebanner {
    padding: 3em 0 0 0;
    height: 34em;
    justify-content: center;
  }
  .homebanner-title {
    width: 50%;
    margin-left: 2.5em;
    h1 {
      font-size: 1.6em;
    }
    h2 {
      margin-bottom: 2em;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px)  {
  .homebanner {
    padding-right: 0em;
    padding-left: 0em;
    height: 32em;
  }
  .homebanner-title {
    width: 40%;
    margin-left: 2.5em;
    h1 {
      font-size: 1.8em;
    }
    h2 {
      margin-bottom: 4em;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px)  {
  .homebanner {
    padding-right: 2em;
    padding-left: 2em;
    height: 32em;
  }
  .homebanner-title {
    width: 35%;
    margin-left: 3em;
    h2 {
      margin-bottom: 4em;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
