.button {
  padding: 0.2em 0.6em;
  color: white;
  background-color: $blue;
  font-family: 'Montserrat';
}

.white-btn {
  padding: 0;
  border-bottom: 0.17em solid white;
  color: white;
  font-weight: 600;
  font-family: 'Montserrat';
  text-decoration: none;
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
}

.white-btn:hover {
  padding-right: 2em;
  transition: all 0.5s ease-out;
  color: white;
}

.back-button {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
  a {
    text-decoration: none;
    color: $dark-blue;
  }
  a:hover {
    color: $blue;
  }
  span {
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 90%;
  }
  i {
    padding-right: 1em;
    font-size: 80%;
  }
}

// RESPONSIVE BUTTON //

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px)  {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px)  {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
