.white-btn {
  padding: 0;
  border-bottom: 0.17em solid white;
  color: white;
  font-weight: 600;
  font-family: 'Montserrat';
  text-decoration: none;
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
}

.white-btn:hover {
  padding-right: 2em;
  transition: all 0.5s ease-out;
  color: white;
}
