.ws-show-carousel-item {
  img {
    width: 100%;
    height: 30em;
    object-fit: cover;
  }
}

.ws-index-carousel-item {
  img {
    width: 100%;
    height: 11em;
    object-fit: cover;
  }
}

.home-steps-carousel-indicators {
  z-index: 3;
  li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: $gray;
  }
  li.active {
    background-color: $orange;
  }
}

.home-steps-carousel-item {
  height: 23em;
}

.home-two-steps-carousel-tablet {
  display: flex;
  .home-step-presentation {
    width: 50%;
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 2em;
  }
}


// RESPONSIVE CAROUSEL //

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .ws-show-carousel-item {
    img {
      height: 18em;
    }
  }
  .ws-index-carousel-item {
    img {
      height: 8em;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  .ws-show-carousel-item {
    img {
      height: 25em;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px)  {
  .ws-show-carousel-item {
    img {
      height: 25em;
    }
  }
  #carouselStepsTablet {
    .carousel-inner {
      height: 25em;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px)  {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

