// FOOTER NEWSLETTER

.footer-newsletter {
  background-color: $blue;
}

#footer-newsletter-title {
  font-family: "Amiri", "Times New Roman", serif;
  font-size: 28px;
  color: white;
  font-weight: 600;
  margin-bottom: unset;
  line-height:1.2;
}

#footer-newsletter-subtitle {
  font-size: 15px;
  font-weight: 500;
  color: white;
  margin-bottom: 15px;
}

#mce-EMAIL::placeholder {
    color: white;
    font-weight: 500;
}

#mce-EMAIL {
  max-width: 350px;
  outline: none;
}

#mc_embed_signup {
  background-color: unset;
  clear:left;
  font-size: 14px;
  font-family: "Raleway", Helvetica, sans-serif;
  padding-top: 30px;
  padding-bottom: 30px;
  input.button {
    border-radius: 0;
    background-color: white;
    border: 1px solid white;
    color: $blue;
    margin: unset !important;
    min-width: 112px !important;
  }
  input.button:hover {
    background-color: unset;
    color: white;
    border: 1px solid white;
  }
}


// FOOTER

.footer {
  padding: 3em 4em 2em 4em;
  background-color: $very-light-blue;
  width: 100vw !important;
  position: absolute;
  z-index: 2;

  a {
    color: $dark-blue;
    text-decoration: none;
  }
}

.footer-informations {
  display: flex;
  justify-content: center;
}

.footer-columns {
  display: grid;
  grid-template-columns: 2fr 5fr 3fr 2fr;
  grid-gap: 1.5em;
  font-size: 90%;
  font-weight: 500;
  max-width: 1400px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-brand {
  img {
    width: 160px;
  }
}

.footer-definition {
  margin-right: 2em;
  margin-left: 1em;
  p {
    margin-bottom: 0;
    text-align: justify;
    font-size: 13.5px;
    color: $dark-blue;
    font-weight: 400;
  }
}

.footer-social-networks {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  span {
    font-weight: 500;
    color: $dark-blue;
  }
  a {
    color: $dark-blue;
    font-size: 30px;
  }
  .fa-instagram {
    margin-right: 5px;
  }
}

.footer-payment {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 1rem;
  span {
    font-weight: 500;
    color: $dark-blue;
  }
  img {
    width: 36px;
    object-fit: cover;
  }
}

.footer-copyright {
  margin-top: 2em;
  text-align: center;
  font-weight: 500;
  font-size: 12.5px;
}

.footer-first-list {
  line-height: 1.8em;
}
.footer-second-list {
  line-height: 1.8em;
}


// RESPONSIVE FOOTER //

// Smallest device

@media (min-width: 100px) and (max-width: 320px) {
  #mc_embed_signup {
    input.button {
      width: 95% !important;
    }
  }
  .footer {
    padding: 1em;
  }
  .footer-columns {
    grid-gap: 0.6em;
  }
}

@media (min-width: 321px) and (max-width: 575px) {
  .footer {
    padding: 1.5em;
  }
  .footer-columns {
    grid-gap: 1em;
  }
}


@media (min-width: 100px) and (max-width: 575px) {
  #footer-newsletter-title {
    font-size: 24px;
    margin-bottom: 4px;
    margin-right: 5px;
  }
  #footer-newsletter-subtitle {
    font-size: 14px;
    margin-bottom: 30px;
    margin-right: 5px;
  }
  #mc_embed_signup {
    input.button {
      margin-top: 20px !important;
      font-size: 14px;
    }
  }
  .footer-columns {
    grid-template-columns: 1fr;
  }

  .footer-definition {
    margin: unset;
    padding-bottom: 1rem;
    p {
      text-align: justify;
      font-size: 13.5px;
    }
  }
  .footer-copyright {
    font-size: 13px;
    text-align: justify;
  }
  .footer-first-list {
    padding-top: 1.5rem;
    border-top: 1px solid $dark-blue;
    max-width: 300px;
  }
  .footer-social-networks {
    margin-top: 0.4rem;
  }
  .footer-payment {
    img {
      width: 30px;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  .footer-newsletter-inputs {
    display: flex;
  }
  .footer {
    padding: 2em 3em 1em 3em;
    font-size: 92%;
  }
  .footer-brand {
    img {
      width: 130px;
    }
    padding-bottom: 20px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-content: flex-end;
  }
  .footer-definition {
    margin-right: 0.7em;
    margin-left: 0.2em;
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }
  .footer-columns {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }
  .footer-column {
    margin-left: 1em;
    margin-right: 1em;
  }
  .footer-first-list {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    justify-content: flex-end;
    margin-left: 6em;
  }
  .footer-second-list {
    margin-right: 2em;
    margin-left: 6em;
    justify-content: flex-start;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
  .footer-social-networks {
    a {
      font-size: 24px;
    }
    .fa-instagram {
      margin-right: 4px;
    }
  }
  .footer-follow-title {
    margin-right: 1em;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px)  {
  .footer-newsletter-inputs {
    display: flex;
  }
  .footer {
    padding: 2em 6em 1em 6em;
    font-size: 92%;
  }
  .footer-brand {
    img {
      width: 130px;
    }
    padding-bottom: 20px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-content: flex-end;
  }
  .footer-definition {
    margin-right: 0.7em;
    margin-left: 0.2em;
    grid-column: 1 / 2;
    grid-row: 2 / 5;
  }
  .footer-columns {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }
  .footer-column {
    margin-left: 2em;
    margin-right: 2em;
  }
  .footer-first-list {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    justify-content: flex-end;
    margin-left: 6em;
  }
  .footer-second-list {
    margin-right: 2em;
    margin-left: 6em;
    justify-content: flex-start;
    grid-column: 2 / 3;
    grid-row: 3 / 5;
  }
  .footer-social-networks {
    a {
      font-size: 24px;
    }
    .fa-instagram {
      margin-right: 4px;
    }
  }
  .footer-follow-title {
    margin-right: 1em;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px)  {
  .footer-newsletter-inputs {
    display: flex;
  }
  .footer {
    padding: 2em 3em 1em 3em;
    font-size: 95%;
  }
  .footer-brand {
    img {
      width: 120px;
    }
  }
  .footer-definition {
    margin-right: 1em;
    margin-left: 0.5em;
  }
  .footer-columns {
    grid-template-columns: 2fr 4fr 2.5fr 1.8fr;
  }
  .footer-social-networks {
    a {
      font-size: 26px;
    }
    .fa-instagram {
      margin-right: 5px;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1399px) {
  .footer-newsletter-inputs {
    display: flex;
  }
}


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1400px) {
  .footer-newsletter-inputs {
    display: flex;
  }
  .footer-newsletter-subcontainer {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  #mc_embed_signup {
    min-width: 600px;
  }
}


