// CSS MAP

.mapboxgl-canvas {
  outline: none;
}
.mapboxgl-popup {
  max-width: 400px !important;
  transform: translate(5vw, 5vh) !important;
}

.mapboxgl-popup-anchor-bottom-left {
  .mapboxgl-popup-content {
    border-bottom-left-radius: 3px !important;
  }
}

.mapboxgl-popup-content {
  border-radius: 0;
  overflow: hidden;
  width: 90vw;
  min-height: 8em;
  display: flex;
  flex-direction: column;
  padding: 0px 0px 10px 0px !important;
}

.mapboxgl-popup-tip {
  display: none;
}

.mapboxgl-popup-close-button {
  font-size: 24px;
  color: white;
  right: 2px !important;
  top: 2px !important;
}

.mapboxgl-popup-close-button:hover {
  background-color: transparent;
}

.mapboxgl-popup-close-button:focus {
  outline: none;
}

.map-ws-popup {
  background-color: $dark-blue;
  height: 31px;
  border-top-right-radius: 3px;
  display: flex;
  align-items: center;
  span {
    color: white;
    font-weight: 500;
    margin-left: 10px;
  }
}

.map-ws-popup-workshops {
  max-height: 300px;
  overflow-y: scroll;
  a {
    text-decoration: none;
  }
}
.popup-workshop {
  padding: 8px 10px;
  display: flex;
  justify-content: space-between;
  height: 8em;
  border-top: 1px solid $gray;
}

#first-popup-workshop {
  border-top: unset;
  margin-top: 6px;
}

.popup-workshop-left-side {
  padding-left: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popup-workshop-right-side {
  position: relative;
  img {
    width: 6em;
    height: 100%;
    object-fit: cover;
  }
  .popup-workshop-rating-tag-container {
    display: flex;
    position: absolute;
    z-index: 1;
    top: 5px;
  }
  .popup-workshop-rating {
    padding: 0px 3px;
    background-color: white;
    opacity: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 90%;
    .fa-star {
      color: $light-blue;
    }
    span {
      color: $dark-blue;
      font-weight: 700;
      padding-left: 3.25px;
      padding-right: 2px;
      font-family: "Montserrat", Helvetica, sans-serif;
    }
  }
}

.popup-workshop-organizer {
  color: $light-blue;
  font-weight: 600;
  font-size: 12.5px;
  font-family: "Montserrat", Helvetica, sans-serif;
}

.popup-workshop-title {
  h3 {
    font-size: 13.5px;
    font-weight: 600;
    color: $dark-blue;
    margin-bottom: 0.1em;
  }
}

.popup-workshop-price {
  font-weight: 600;
  font-size: 15.2px;
  font-family: "Montserrat", Helvetica, sans-serif;
  color: $dark-blue;
}

// RESPONSIVE MAP //

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .mapboxgl-popup {
    transform: translate(5vw, 17vh) !important;
  }
  .map-ws-popup-workshops {
    max-height: 275px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  .mapboxgl-popup {
    transform: translate(10vw, 17vh) !important;
    max-width: 600px !important;
  }
  .mapboxgl-popup-content {
    width: 80vw;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px)  {
  .mapboxgl-popup {
    max-width: 600px !important;
    transform: translate(2vw, 14vh) !important;
  }
  .mapboxgl-popup-content {
    width: 36vw;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px)  {
  .mapboxgl-popup {
    max-width: 800px !important;
    transform: translate(2vw, 10vh) !important;
  }
  .mapboxgl-popup-content {
    width: 32.5vw;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .mapboxgl-popup {
    max-width: 800px !important;
    transform: translate(2vw, 10vh) !important;
  }
  .mapboxgl-popup-content {
    width: 29.5vw;
  }
}
