// CSS MENU //

#sideMenu {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 20em;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 60px;
  display: none;
  .menu-icon {
    font-size: 16px;
  }
}

#sideMenu.open {
  background-color: white;
  transition: all 0.75s ease-out;
  z-index: 4;
  display: block;
  position: fixed;
}

#sideMenu ul {
  margin-top: 5em;
  list-style-type: none;
}


#sideMenu li {
  font-size: 15px;
  font-weight: 500;
  border: none;
  padding: 0.4em 1.3em;
  a {
    text-decoration: none;
  }
}

#sideMenu #menuClose {
  width: 3.2em;
  position: absolute;
  right: 0.8em;
  top: 1.5em;
  cursor: pointer;
}

.list-item-sign {
  background-color: $dark-blue;
  margin-left: 0.4em;
  margin-right: 0.4em;
  padding: 0.3em 1em;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.list-item-sign:hover {
  background-color: $light-blue;
}

.list-item-menu {
  margin-left: 0.4em;
  margin-right: 0.4em;
  padding: 0.3em 1em;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.list-item-menu:hover {
  background-color: $light-blue;
  .menu-blue-link {
    color: white;
    .far {
      color: white;
    }
    .fas {
      color: white;
    }
  }
}

.menu-blue-link {
  color: $dark-blue;
  .far {
    color: $light-blue;
  }
  .fas {
    color: $light-blue;
  }
}

.menu-white-link {
  color: white;
}

.menu-white-icon {
  color: white;
}

.menu-white-link:hover {
  color: white;
}

.menu-brand-logo {
  display: none;
}

// RESPONSIVE DESIGN MENU //

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  #sideMenu {
    width: 100vw;
    li {
      padding: 0.4em 2em 0.4em 2em;
    }
  }
  #sideMenu #menuClose {
    right: 1em;
    top: 1.3em;
    width: 3.2em;
  }
  .menu-brand-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8em;
    margin-top: 2em;
    img {
      width: 10em;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px)  {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px)  {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
