.public-profile-header {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: center;
  margin-bottom: 1em;

  .public-profile-picture {
    img {
      border-radius: 50%;
      width: 15rem;
      height: 15rem;
      object-fit: cover;
      border: 1px solid $blue;
    }
  }

  .public-profile-name {
    h1 {
      font-size: 1.8em;
      font-weight: 600;
      color: $blue;
    }
  }

  .public-profile-header-text {
    margin-left: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    a {
      text-decoration: none;
      color: $dark-gray;
    }
    i {
      color: $blue;
      padding-right: 0.3em;
    }
  }
  .public-profile-instagram {
    i {
      font-size: 1.2em;
    }
  }
}

.public-profile-main-figures {
  background-size: cover;
  background-position: top;
  padding-top: 6.5em;
  padding-bottom: 1.5em;
  margin-top: -5em;
  margin-right: -3em;
  margin-left: -3em;
  display: flex;
  justify-content: center;

  .public-profile-main-figures-text {
    width: 36%;
    display: flex;
    justify-content: space-between;
    color: white;
    text-align: center;
    img {
      object: cover;
    }
    #number {
      font-size: 2.3em;
      font-weight: 600;
      font-family: "Montserrat", "sans-serif";
    }
    #icon {
      font-size: 2.2em;
    }
    #text {
      font-size: 1em;
      font-weight: 500;
      font-family: "Montserrat", "sans-serif";
    }
    .public-profile-main-figure {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      padding-right: 1em;
      padding-left: 1em;
    }
  }
}

.public-profile-about-ws-reviews {
  display: grid;
  grid-template-columns: 0.75fr 1.25fr 1fr;
}

.about-ws-reviews-box {
  margin: 2em;
  .profile-title {
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
    color: $light-blue;
    margin-bottom: 1em;
  }
  p {
    margin: 0;
  }
}

.public-profile-our-ws-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  .ws-card-place {
    h3 {
      color: $orange;
    }
  }
}

.public-profile-reviews {
  .reviews-cards {
    grid-template-columns: 1fr;
    grid-gap: 1em;
  }
}


// RESPONSIVE PROFILE //

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 765px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px)  {
  .public-profile-header {
    padding-bottom: 4em;
    .public-profile-picture {
      img {
        width: 12rem;
        height: 12rem;
      }
    }
    .public-profile-name {
      h1 {
        font-size: 1.6em;
      }
    }
  }
  .public-profile-main-figures {
    margin-top: -7.5em;
    padding-top: 4.5em;
    padding-bottom: 1.5em;
    margin-right: -1em;
    margin-left: -1em;
    .public-profile-main-figures-text {
      width: 45%;
      font-size: 0.85em;
    }
  }
  .about-ws-reviews-box {
    margin: 2em 2em 1em 2em;
  }
  .public-profile-about {
    grid-column: 1 / 3;
  }
  .public-profile-our-ws {
    grid-column: 1 / 2;
  }
  .public-profile-about-ws-reviews {
    grid-template-columns: 1fr 0.7fr;
    grid-column-gap: 0;
    grid-row-gap: 1em;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px)  {
  .public-profile-main-figures {
    padding-top: 5.5em;
    padding-bottom: 1.5em;
    margin-right: -2em;
    margin-left: -2em;
    .public-profile-main-figures-text {
      width: 40%;
      font-size: 0.95em;
    }
  }
  .about-ws-reviews-box {
    margin: 2em 1.5em;
    .profile-title {
      font-size: 1.1em;
    }
    p {
      font-size: 0.95em;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
