.reviews-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

.review-card {
  background-color: $light-gray2;
  padding: 1em;
}

.review-card-stars {
  color: $blue;
  font-size: 13px;
  margin-bottom: 0.9em;
  letter-spacing: -1px;
}

.review-card-message {
  font-size: 15px;
  margin-bottom: 0.3em;
}

.review-card-author {
  font-size: 15px;
  color: $dark-blue;
  p {
    font-weight: 500;
  }
  span {
    font-weight: 600;
  }
}

.show-more-reviews {
  margin-top: 2em;
}

#new-review-title {
  span {
    color: $light-blue;
  }
}

#new-review-back-button {
  position: absolute;
  top: 75px;
  left: 42px;
}

// RESPONSIVE REVIEWS //

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .reviews-cards {
    grid-template-columns: 1fr;
  }
  #new-review-title {
    font-size: 21px;
  }
  #new-review-back-button {
    position: absolute;
    top: 60px;
    left: 30px;
  }
  #new-review-sign-container {
    margin-top: 3em;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  .reviews-cards {
    grid-template-columns: 1fr;
  }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px)  {
  .reviews-cards {
    grid-template-columns: 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px)  {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
