.home-search-container {
  margin: 0 5em;
  margin-bottom: -2.7em;
}

.home-search {
  box-shadow: rgba(139, 159, 196, 0.3) 0px 0.2rem 0.4rem 0px;
  background-color: white;
  border-radius: 5px;
  height: 6em;
  display: flex;
  align-items: center;
  justify-content: center;

  .simple_form {
    margin: 0.5em 0.5em;
    width: 100%;

    label {
      position: relative;
      top: 2.8em;
      left: 0.5em;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 0.95em;
      color:$blue;
      padding-left: 0.35rem;
      letter-spacing: 0.03em;
    }

    label:hover {
      color: $blue;
    }
    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
      background-repeat: no-repeat;
      background-position-x: 95%;
      background-position-y: 63%;
    }
  }
  .form-group {
    height: 100%;
    margin-top: -1.8em;
    min-width: 135px;
  }
  .form-control {
    height: 100%;
    padding-top: 1.4em;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: unset;
    background-color: transparent;
  }
  #search_keyword {
    border-right: 1px solid $gray;
  }
  #search_place {
    border-right: 1px solid $gray;
  }
  .datepicker_start_date {
    border-right: 1px solid $gray;
  }
  .search-button {
    margin-top: 1px;
    margin-right: 3px;
    height: 75px;
    width: auto;
    background-color: $dark-blue;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    input {
      display: none;
    }
    .fa-search {
      color: white;
      font-size: 1.4em;
    }
  }
  .search-button:hover {
    background-color: $blue;
    cursor: pointer;
  }
  .search-button:focus {
    outline: none;
  }
}

.home-search-inputs-and-submit {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr 1.1fr;
}



.thematic-show-search-container {
  margin: 0 0.5em;
}

.thematic-show-search-inputs-and-submit {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0.5em;
  width: 100%;

  .search_place {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  .search-button {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }
}

#thematic-show-search {
  height: 15rem;
  box-shadow: rgba(139, 159, 196, 0.3) 0px 0.2rem 0.4rem 0px;
  background-color: white;
  border-radius: 5px;

  .simple_form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    label {
      top: 2.3em;
      left: 0.2em;
    }
  }
  .search-button {
    margin-top: 1em;
    height: 2.5em;
    width: 100%;
    .fa-search {
      font-size: 1.1em;
    }
  }

  #search_place {
    border: 1px solid $light-gray;
  }
  .datepicker_start_date {
    border: 1px solid $light-gray;
  }
  .datepicker {
    border: 1px solid $light-gray;
  }
  .form-control {
    background-color: white;
    border-radius: 5px;
    padding: 0.9rem 0.5rem 0.1rem 0.5rem;
    font-size: 0.8em;
  }
}



// RESPONSIVE SEARCH //

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .home-search-container {
    margin: 0 0.5em;
  }
  .home-search-inputs-and-submit {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0.5em;
    width: 100%;

    .search_keyword {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
    }
    .search_place {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
    }
    .search-button {
      grid-column: 1 / 3;
      grid-row: 4 / 5;
    }
  }

  .home-search {
    height: 18.5em;
    background-color: unset;
    box-shadow: unset;
    .simple_form {
      display: flex;
      justify-content: center;
      align-items: center;
      label {
        top: 2.3em;
        left: 0.2em;
      }
    }
    .search-button {
      margin-top: 1em;
      height: 2.5em;
      width: 100%;
      .fa-search {
        font-size: 1.1em;
      }
    }
    #search_keyword {
      border: none;
    }
    #search_place {
      border: none;
    }
    .datepicker_start_date {
      border: none;
    }
    .form-control {
      background-color: white;
      border-radius: 5px;
      padding: 0.9rem 0.5rem 0.1rem 0.5rem;
      font-size: 0.8em;
    }
  }
  .thematic-show-search-container {
    margin: 0em;
  }
  #thematic-show-search {
    height: 15rem;
    box-shadow: unset;
    background-color: white;
    border-radius: unset;
    .simple_form {
      margin: 0.5rem;
    }
    #search_place {
    border: 1px solid $blue;
    }
    .datepicker_start_date {
      border: 1px solid $blue;
    }
    .datepicker {
      border: 1px solid $blue;
    }
  }

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  .home-search-container {
    margin-left: 2em;
    margin-right: 2em;
  }
  .home-search-inputs-and-submit {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
  }
  .home-search {
    height: 12em;
    .search-button {
      margin-top: 0.3em;
      height: 2em;
      width: 210%;
      .fa-search {
        font-size: 1.1em;
      }
    }
    #search_keyword {
      border: none;
    }
    #search_place {
      border: none;
    }
    .datepicker_start_date {
      border: none;
    }

  }
  #thematic-show-search {
    box-shadow: unset;
    background-color: white;
    border-radius: unset;
    #search_place {
      border: 1px solid $blue;
    }
    .datepicker_start_date {
      border: 1px solid $blue;
    }
    .datepicker {
      border: 1px solid $blue;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px)  {
  .home-search-container {
    margin-left: 2em;
    margin-right: 2em;
  }
  .home-search {

    .form-control {
      font-size: 0.95em;
      cursor: pointer;
      border-radius: unset;
      background-color: transparent;
    }
    .simple_form {
      label {
        font-size: 0.9em;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px)  {
  .home-search-container {
    margin-left: 2em;
    margin-right: 2em;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

