.ws-card {
  overflow: hidden;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0.2rem 0.4rem 0px;
  position: relative;
  border-radius: 0.3em;
  height: 20em;
}

.ws-card-tags {
  display: flex;
  position: absolute;
  top: 0.6em;
  left: 0.6em;
  z-index: 1;
}

.ws-card-tag {
  padding: 0.15em 0.4em;
  border-radius: 0.2em;
  background-color: white;
  opacity: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 90%;
  .fa-star {
    color: $light-blue;
  }
  span {
    margin-top: 0.1em;
    font-family: "Montserrat", "sans-serif";
    font-size: 0.9em;
  }
}

.ws-card-rating {
  margin-right: 0.4em;
  span {
    color: $dark-blue;
    font-weight: 700;
    padding-left: 0.3em;
  }
}

.ws-card-ephemeral {
  span {
    color: $light-blue;
    font-weight: 600;
  }
}

.ws-card-infos {
  padding: 0.7em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 9em;
}

.ws-card-place {
  h3 {
    color: $light-blue;
    font-weight: 600;
    font-size: 0.85em;
    padding-bottom: 0.4em;
    margin-bottom: 0;
  }
}

.ws-card-title {
  h2 {
    color: $dark-blue;
    font-weight: 600;
    font-size: 1em;
  }
}

.ws-card-price {
  color: $dark-blue;
  font-weight: 700;
  font-size: 1.1em;
  font-family: "Montserrat", "sans-serif";
}

// RESPONSIVE WORKSHOP CARDS //

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .ws-card {
    height: 16em;
  }
  .ws-card-tags {
    top: 0.4em;
    left: 0.4em;
  }
  .ws-card-tag {
    span {
      font-size: 0.8em;
    }
  }
  .ws-card-infos {
    height: 8em;
    padding: 0.5em;
  }
  .ws-card-title {
    h2 {
      font-size: 0.9em;
    }
  }
  .ws-card-place {
    h3 {
      font-size: 0.8em;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 765px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px)  {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px)  {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
